{# Mot du directeur block #}
<div id="div-detail-block-3-contents-column-main-comment-container">
    {# Title #}
    <div class="col-xs-12" id="div-detail-block-3-contents-column-main-comment-container-title">
        <h3 class="lato-bold asb-orange upper-case asb-left">
            livre d'or
        </h3>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-12">
        {# Contents #}
        {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': formation.id } %}
        </div>
        <div class="col-xs-11 col-sm-5 col-md-5 asb-right asb-padding-left-0 asb-padding-right-0">
            <hr class="div-detail-block-3-contents-column-main-semi-seperator"/>
        </div>
    </div>
</div>