{# Image block #}
<div id="div-detail-block-3-contents-column-main-image-container">
    {% set imageCount = formation.images|length >= 5 ? 5 : formation.images|length %}
    <asb-image-count data="{{ imageCount }}" ></asb-image-count>

    <div class="asb-slick">
    {% for image in formation.images %}
        <div class="" data-toggle="modal" data-target=".bs-example-modal-lg" data-whatever="{{ image.imageName }}">
            <div class="detail-slick-image-body asb-thumbnail">
                <img class="detail-slick-image-image" src="{{ asset('images/formation/'~image.imageName) }}"/>
            </div>
        </div>
    {% endfor %}
    </div>
</div>