<div class="col-xs-10 col-xs-offset-1 asb-center" id="div-detail-block-1-contents">
    {# Slogan #}
    <div class="col-xs-12 col-md-7" id="div-detail-block-1-contents-slogan">
        <h1 class="asb-left slogan">
{#            <span class="slogan-pt1 asb-orange">en route! </span>#}
            <span class="slogan-pt1 asb-orange">en route vers </span>
            <span class="slogan-pt2 asb-marine">votre futur</span>
        </h1>
        <h4 class="asb-left sub-slogan asb-marine">
            Les meilleures formations pour votre réussite professionnelle
        </h4>
    </div>
    <div class="col-xs-12 col-md-5" id="div-detail-block-1-contents-srch-form">
    {# Search form #}
        {{ form_start(keywordSrchForm, {'attr':{'class':'asb-container'}}) }}
        {{ form_errors(keywordSrchForm) }}

        {# Search box #}
        <div class="col-xs-12 col-md-12 col-lg-7 form-group asb-center" id="">
    {#        {{ form_label(keywordSrchForm.keyword) }}#}
            
            {% set requestGetKeyword = null %}
            {% if "keyword" in queryParams|keys %}
            {% set requestGetKeyword = queryParams["keyword"]|trim %}
            {% endif %}
            {% set text_new_search = 'srch_form.input.new_search' %}
        {{ form_errors(keywordSrchForm.keyword) }}
        {{ form_widget(keywordSrchForm.keyword, {
                    'attr':{
                            'class':'form-control input-asb-keyword-srch', 
                            'placeholder':text_new_search|trans,  
                            'value':requestGetKeyword
                            }
                        }) }}
        </div>

        {# Search button #}
        <div class="col-xs-12 col-md-12 col-lg-5 form-group asb-center">
        {{ form_widget(keywordSrchForm.search, {
            'attr':{
                'class':'btn btn-default btn-lg btn-asb-keyword-srch'
            }
                }) }}
        </div>

    {{ form_end(keywordSrchForm) }}
    </div>
</div>