/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 juil. 2015, 13:54:03
    Author     : HugoG
*/

.div-detail-block-3-contents-column-main-comment-container-contents>div{
    margin-top: 30px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 25px;
}

.div-detail-block-3-contents-column-main-comment-container-contents>div:nth-of-type(even){
    background-color: @asb-beige;
}