/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 juin 2015, 17:58:02
    Author     : HugoG
*/

#div-detail-block-3{
    min-height: 450px;
    /* Shadow */
    box-shadow: 0 3px 10px #000 !important;  
    /* Drop-shadow */
    -webkit-filter: drop-shadow(0 0 10px #000) !important;
    -moz-filter: drop-shadow(0 0 10px #000) !important;
    -ms-filter: drop-shadow(0 0 10px #000) !important;
    -o-filter: drop-shadow(0 0 10px #000) !important;
    filter: drop-shadow(0 0 10px #000) !important;
}

#div-detail-block-3:before{
    border-bottom: 15px solid #FFF;
    border-left: 15px solid transparent; 
    border-right: 15px solid transparent; 
    top: -15px;
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -21px;
    width: 0; 
    height: 0;
}

#div-detail-block-3-contents{
    padding-top: 30px;
    padding-bottom: 30px;
}

#div-detail-block-3-contents-column-left{
    background-color: @asb-beige;
}

#div-detail-block-3-contents-column-left-contents{
    margin-top: 10px;
    margin-bottom: 10px;
}

#div-detail-block-3-contents-column-left-contents>div{
    margin-bottom: 15px;
}

.div-detail-block-3-contents-column-left-contents-ul{
    padding-left: 5px;
}
#div-detail-block-3-contents-column-main{
    padding-left: 0px;
    padding-right: 0px;
}

#div-detail-block-3-contents-column-main-header-crosshair{
    height: 5px;
    background: url("/bundles/asbview/images/detail_formation_title_crosshair.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
}

// Return link
#div-detail-block-3-contents-column-main-return-link{
    margin-bottom: 8px;
}

// Nav-tabs
#div-detail-block-3-contents-column-main-tabs{
    margin-top: 8px;
    margin-bottom: 25px;
}

#ul-detail-block-3-contents-column-main-tabs-nav-link{    
    padding-bottom: 7px;
    border-bottom-width: 3px;
    border-bottom-color: @asb-chocolate;
    margin-bottom: 30px;

}

.nav-tabs#ul-detail-block-3-contents-column-main-tabs-nav-link>li.active:after{      
    border-bottom: 10px solid @asb-chocolate;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: -6px;
    content: "";
    position: absolute;
    left: 38%;
} 

.nav-tabs#ul-detail-block-3-contents-column-main-tabs-nav-link>li>a{
    color: @asb-dark-desert-1;
    background-color: transparent;
    border: 0px solid #ddd;
    font-family: lato-bold;
}

.nav-tabs#ul-detail-block-3-contents-column-main-tabs-nav-link>li>a:focus, 
.nav-tabs#ul-detail-block-3-contents-column-main-tabs-nav-link>li>a:hover{
    color: @asb-dark-desert-2;
}

.nav-tabs#ul-detail-block-3-contents-column-main-tabs-nav-link>li.active>a, 
.nav-tabs#ul-detail-block-3-contents-column-main-tabs-nav-link>li.active>a:focus, 
.nav-tabs#ul-detail-block-3-contents-column-main-tabs-nav-link>li.active>a:hover{
    color: @asb-chocolate;
    cursor: default;
    background-color: transparent;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
    font-family: lato-bold;
}

// Video
#div-detail-block-3-contents-column-main-video{
    margin-bottom: 25px;
}

#div-detail-block-3-contents-column-main-video-container{
    margin-top: 25px;
    margin-bottom: 25px;
    /* Shadow */
    box-shadow: 0 0px 10px #000;
    /* Drop-shadow */
    -webkit-filter: drop-shadow(0 0 0px #000) !important;
    -moz-filter: drop-shadow(0 0 0px #000) !important;
    -ms-filter: drop-shadow(0 0 0px #000) !important;
    -o-filter: drop-shadow(0 0 0px #000) !important;
    filter: drop-shadow(0 0 0px #000) !important;
}

#div-detail-block-3-contents-column-main-video-canal{
    background-color: #000;
    margin-top: 15px;
    margin-bottom: 15px;
}

.div-detail-block-3-contents-column-main-video-body{
    width: 100%;
    min-height: 315px;
}

//////////
// Images
//////////

#div-detail-block-3-contents-column-main-image{
    margin-bottom: 25px;
}

///////////////////
// Mot du directeur
///////////////////
#div-detail-block-3-contents-column-main-mdd{
    margin-bottom: 25px;
}

#div-detail-block-3-contents-column-main-mdd-container-title{
    margin-bottom: 15px;
}

#div-detail-block-3-contents-column-main-mdd-container-contents-photo{
    padding-left: 0px;
    left: -15px;
}

#div-detail-block-3-contents-column-main-mdd-container-contents-photo > img{
    height: 100px !important;
    background-color: #FFF;
    /* Shadow */
    box-shadow: 0 0px 5px #000 !important;  
    /* Drop-shadow */
    -webkit-filter: drop-shadow(0 0 3px #000) !important;
    -moz-filter: drop-shadow(0 0 3px #000) !important;
    -ms-filter: drop-shadow(0 0 3px #000) !important;
    -o-filter: drop-shadow(0 0 3px #000) !important;
    filter: drop-shadow(0 0 3px #000) !important;
}

.div-detail-block-3-contents-column-main-semi-seperator{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    /*border-width: 1px;*/
    border-color: black;
}

///////////////////
// Mot du directeur
///////////////////
#div-detail-block-3-contents-column-main-comment-container-title{
    margin-bottom: 15px;
}

@media only screen and (min-width: @screen-lg-min){

}

@media only screen and (min-width: @screen-md-min) and (max-width: @screen-md-max){

}

@media only screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max){

}

@media only screen and (min-width: @screen-xs-min) and (max-width: @screen-xs-max){

}

@media only screen and (max-width: 680px){
    #div-detail-block-3-contents-column-main-mdd-container-contents-texts{
        width: calc(100% - 11/12);
    }
}

@media only screen and (max-width: @screen-xs-min){
    #div-detail-block-3-contents-column-left-contents{
        width: 100%;
        margin-left: 0px;
        margin-right: 15px;
    }
}

@media only screen and (max-width: 800px){
    .nav-tabs#ul-detail-block-3-contents-column-main-tabs-nav-link>li.active:after {
        border-bottom: 10px solid transparent;
    }
}