/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 juil. 2015, 14:56:36
    Author     : HugoG
*/

div.slick-slide{
    padding: 10px;
}

.slick-center > div.detail-slick-image-body{
    background-color: @asb-beige;
}

.detail-slick-image-body{
    height: 100px !important;
    background-color: #FFF;
    /* Shadow */
    box-shadow: 0 0px 5px #000 !important;  
    /* Drop-shadow */
    -webkit-filter: drop-shadow(0 0 3px #000) !important;
    -moz-filter: drop-shadow(0 0 3px #000) !important;
    -ms-filter: drop-shadow(0 0 3px #000) !important;
    -o-filter: drop-shadow(0 0 3px #000) !important;
    filter: drop-shadow(0 0 3px #000) !important;
}

.detail-slick-image-image{
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    display: inline-table !important; 
}

.detail-slick-modal-image-image{
    display: inline-block;
}

.asb-thumbnail{
    border: 5px solid #FFF;
}