/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 juin 2015, 16:55:59
    Author     : HugoG
*/

#div-detail-block-2{
    min-height: 220px;
    background-color: #803809;
    background-image: url("/bundles/asbview/images/carte_afrique_marron.png");
    background-size: 55% auto;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: 20% 30%;
}

#div-detail-block-2-contents{
/*    position: absolute;
    height: 100%;*/
}

#div-detail-block-2-contents-header-1, #div-detail-block-2-contents-header-2{
/*    position: absolute;
    height: 100%;*/
}

.div-detail-block-2-contents-header-table{
    margin-top: 30px;
    margin-bottom: 30px;
}

#div-detail-block-2-contents-header-1-td-icon-diplome{
    vertical-align: top;
}

#div-detail-block-2-contents-header-1-td-formation-name{
    vertical-align: top;
}

#div-detail-block-2-contents-header-2{
    background: rgba(59, 35, 19, 0.85);
    box-shadow: -8px 0px 16px -5px #000, 8px 0px 16px -5px #000 !important;
}

@media only screen and (min-width: @screen-lg-min){

}

@media only screen and (min-width: @screen-md-min) and (max-width: @screen-md-max){

}

@media only screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
    #div-detail-block-2-contents{
/*        position: relative;
        height: 100%;*/
    }

    #div-detail-block-2-contents-header-1, #div-detail-block-2-contents-header-2{
/*        position: relative;
        height: 100%;*/
    }

    /*    #div-detail-block-2-contents-header-1{
            margin-bottom: 30px;
        }*/
}

@media only screen and (min-width: @screen-xs-min) and (max-width: @screen-xs-max){
    #div-detail-block-2-contents{
/*        position: relative;
        height: 100%;*/
    }

    #div-detail-block-2-contents-header-1, #div-detail-block-2-contents-header-2{
/*        position: relative;
        height: 100%;*/
    }
}

@media only screen and (max-width: @screen-xs-min){
    #div-detail-block-2-contents{
/*        position: relative;
        height: 100%;*/
    }

    #div-detail-block-2-contents-header-1, #div-detail-block-2-contents-header-2{
/*        position: relative;
        height: 100%;*/
    }
}