/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31 aout 2015, 15:50:56
    Author     : HugoG
*/

@import "bootstrap_less_variables.less";

#formations-by-country-container{
    background-color: #FFF;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: @asb-chocolate;
    display: inline-flex;
}

#formations-by-country-div{
    margin-top: 20px;
    margin-bottom: 20px;
}

#formations-by-country-div-article{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 420px;
    -moz-column-width: 420px;
    column-width: 420px;
}

.formations-by-country-div-article-cell{
    margin-top: 10px;
    margin-bottom: 10px;
}

.formations-by-country-div-article-cell  a{
    display: inline-block;
}

span.badge-pays{
    float: right;
    margin-top: 10px;
}

@media only screen and (min-width: @screen-lg-min){

}

@media only screen and (min-width: @screen-md-min) and (max-width: @screen-md-max){

}

@media only screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max){

}

@media only screen and (min-width: @screen-xs-min) and (max-width: @screen-xs-max){

}

@media only screen and (max-width: @screen-xs-min){

}