/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 juin 2015, 16:26:56
    Author     : HugoG
*/

@import "bootstrap_less_variables.less";

@media only screen and (min-width: @screen-lg-min){
    
}

@media only screen and (min-width: @screen-md-min) and (max-width: @screen-md-max){
    
}

@media only screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
    
}

@media only screen and (min-width: @screen-xs-min) and (max-width: @screen-xs-max){
    
}

@media only screen and (max-width: @screen-xs-min){
    
}