/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 juin 2015, 16:42:12
    Author     : HugoG
*/

/* Whole block */
#div-list-block-3-contents-results{
    padding: 50px 0 50px 50px;
}

/* Single cell */
.div-list-block-3-contents-results-cell-container{
    background-color: @asb-khaki;
    margin-bottom: 30px;
}

/* Cell header */
.div-list-block-3-contents-results-cell-header{
    height: 90px;
    left: -15px;
    width: calc(100% ~"+" 30px);
    background-color: @asb-orange;
    padding: 25px 15px 25px 20px;
}

/* Cell body */
.div-list-block-3-contents-results-cell-body{
    min-height: 185px;
    left: -15px;
    width: calc(100% ~"+" 30px);
    padding: 10px;
    margin-bottom: 40px;
}

/* Cell body element */
.div-list-block-3-contents-results-cell-body-element{
    margin-bottom: 15px;
}

/* Cell body element link */
.div-list-block-3-contents-results-cell-body-element > a:hover{
    cursor: pointer;
}

/* Cell body element star */
.span-list-block-3-contents-results-cell-body-element-star{
    color: @asb-orange;
    margin-left: 10px;
}

/* Cell footer */
.div-list-block-3-contents-results-cell-footer{
    height: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    left: -15px;
    width: calc(100% ~"+" 30px);
    background-color: @asb-orange;
}

/* Cell footer bus */
.div-list-block-3-contents-results-cell-footer:before{
    top: -50px;
    right: 30px;
    width: 50px;
    height: 50px;
    position: absolute;
    content: '';
    background: url("/bundles/asbview/images/icon-bus-cell-list.png");
}

/* Cell footer link */
.div-list-block-3-contents-results-cell-footer > div > a:hover{
    cursor: pointer;
}

/* Cell footer icon */
.div-list-block-3-contents-results-cell-footer-icon-plus-circle{
    margin-top: -5px;
    display: inline-block;
}

/* Paginator */
.asb-pagination-btn-brown{
    width: 40px;
    height: 40px;
    padding: 9px 12px;
    border: none;
    border-radius: 6px;
    background: url("/bundles/asbview/images/bg_button_brown.png");
}

.asb-pagination-btn-silver{
    width: 40px;
    height: 40px;
    padding: 9px 12px;
    border: none;
    border-radius: 6px;
    background: url("/bundles/asbview/images/bg_button_silver.png");
}


@media only screen and (min-width: @screen-lg-min){

}

@media only screen and (min-width: @screen-md-min) and (max-width: @screen-md-max){

}

@media only screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max){

}

@media only screen and (min-width: @screen-xs-min) and (max-width: @screen-xs-max){

}

@media only screen and (max-width: @screen-xs-min){

}