{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non trouvée</h1>

    {# example security usage, see below #}
    {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
        {# ... #}
    {% endif %}

    <p>        
        La page demandée ne peut pas être localisée. Vérifiez le lien ou 
        <a href="{{ path('homepage') }}">retourner sur la page d'accueil</a>.
    </p>
{% endblock %}