/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 juin 2015, 15:31:36
    Author     : HugoG
*/

@import "bootstrap_less_variables.less";

////////////////
///// colors
////////////////
body{
    background-color: #803809;
}

@asb-chocolate: #803809;

.asb-orange{
    color: #f7941e;
}

@asb-orange: #f7941e;

.asb-marine{
    color: #2f5a84;
}

@asb-marine: #2f5a84;

.asb-white{
    color:#FFF;
}

.asb-black{
    color:#000;
}

.asb-white:hover{
    color:#FFF;
}

.asb-beige{
    color:#ede3dc;
}

@asb-beige: #ede3dc;

.asb-khaki{
    color:#ddcabd;
}

@asb-khaki: #ddcabd;

.asb-dark-desert-1{
    color: #c3a28c;
}

@asb-dark-desert-1: #c3a28c;

.asb-dark-desert-2{
    color: #9e7d68;
}

@asb-dark-desert-2: #9e7d68;

.asb-dark-brown{
    color: #3b2313;
}

@asb-dark-brown: #3b2313;

.asb-container{
    overflow: initial;
}

/* The following make parent container has the total height of its children */
.asb-container:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.asb-no-deco{
    text-decoration: none;
}

.asb-no-deco:link{
    text-decoration: none;
}

ul.asb-no-deco{
    text-decoration: none;
    list-style: none;
    padding-left: 0px;
}

.asb-test-bordered{
    border-style: solid;
    border-color: red;
    border-width: medium;
}

/* 0 margins */
.asb-margin-top-0{
    margin-top: 0 !important;
}

.asb-margin-right-0{
    margin-right: 0 !important;
}

.asb-margin-bottom-0{
    margin-bottom: 0 !important;
}

.asb-margin-left-0{
    margin-left: 0 !important;
}

.asb-margin-left-right-0{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/* 0 padding */
.asb-padding-top-0{
    padding-top: 0 !important;
}

.asb-padding-right-0{
    padding-right: 0 !important;
}

.asb-padding-bottom-0{
    padding-bottom: 0 !important;
}

.asb-padding-left-0{
    padding-left: 0 !important;
}

.asb-width-70-pct{
    width: 70%;
}

.asb-width-100-pct{
    width: 100%;
}

.asb-table-responsive{
    border: none;
}

.list-square{
    list-style-type: square;
}