/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 juin 2015, 16:19:43
    Author     : HugoG
*/

@import "bootstrap_less_variables.less";

@font-face {
    font-family: lato-black;
    src: url("/bundles/asbview/fonts/Lato-Black.ttf") format('truetype');
    font-weight: normal;
    font-stretch:normal;
}

@font-face {
    font-family: lato-blackitalic;
    src: url("/bundles/asbview/fonts/Lato-BlackItalic.ttf") format('truetype');
    font-weight: normal;
    font-stretch:normal;
}

@font-face {
    font-family: lato-bold;
    src: url("/bundles/asbview/fonts/Lato-Bold.ttf") format('truetype');
    font-weight: normal;
    font-stretch:normal;
}

@font-face {
    font-family: lato-bolditalic;
    src: url("/bundles/asbview/fonts/Lato-BoldItalic.ttf") format('truetype');
    font-weight: normal;
    font-stretch:normal;
}

@font-face {
    font-family: lato-hairline;
    src: url("/bundles/asbview/fonts/Lato-Hairline.ttf") format('truetype');
    font-weight: normal;
    font-stretch:normal;
}

@font-face {
    font-family: lato-hairlineitalic;
    src: url("/bundles/asbview/fonts/Lato-HairlineItalic.ttf") format('truetype');
    font-weight: normal;
    font-stretch:normal;
}

@font-face {
    font-family: lato-italic;
    src: url("/bundles/asbview/fonts/Lato-Italic.ttf") format('truetype');
    font-weight: normal;
    font-stretch:normal;
}

@font-face {
    font-family: lato-light;
    src: url("/bundles/asbview/fonts/Lato-Light.ttf") format('truetype');
    font-weight: normal;
    font-stretch:normal;
}

@font-face {
    font-family: lato-lightitalic;
    src: url("/bundles/asbview/fonts/Lato-LightItalic.ttf") format('truetype');
    font-weight: normal;
    font-stretch:normal;
}

@font-face {
    font-family: lato-regular;
    src: url("/bundles/asbview/fonts/Lato-Regular.ttf") format('truetype');
    font-weight: normal;
    font-stretch:normal;
}

@font-face {
    font-family: no-move;
    src: local("Mo Move"),
        url("/bundles/asbview/fonts/nomove.ttf") format('truetype');
    font-weight: normal;
    font-stretch:normal;
}

/* Usage */

.lato-black{
    font-family: lato-black;
}

.lato-bold{
    font-family: lato-bold;
}

.lato-bolditalic{
    font-family: lato-bolditalic;
}

.lato-light{
    font-family: lato-light;
}

.lato-lightitalic{
    font-family: lato-lightitalic;
}

.lato-regular{
    font-family: lato-regular;
}

.no-move{
    font-family: no-move;
}

.upper-case{
    text-transform: uppercase;
}

.capitalize{
    text-transform: capitalize;
}

.font-larger{
    font-size: larger;
}