/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 juin 2015, 11:44:59
    Author     : HugoG
*/

@import "bootstrap_less_variables.less";

.header-band{
    height: 142px;
    background-color: #ede3dc;
    background-image: url("/bundles/asbview/images/logo_africaschoolbus.png");
    background-position: center center;
    background-repeat: no-repeat;
}