/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 juin 2015, 11:27:37
    Author     : HugoG
*/

@import "bootstrap_less_variables.less";

#div-home-block-2{
    min-height: 450px;
    background-color: #803809;
    background-image: url("/bundles/asbview/images/carte_afrique_blanche.png");
    background-size: 55% auto;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: 11% 5%;
    padding-top: 100px;
    padding-bottom: 30px;
}

.font-header-asb-home-block-2{
    margin: auto;
}

#h1-point-interogation-big-asb-home-block-2{
    font-size: 75pt;
}

#table-asb-home-block-2-zoom-sur-une-formation{
    width: 100%;
    margin: 16px auto 20px auto;
}

#img-asb-home-block-2-african-student{
    width: 115%;
    margin-top: -14px;
    margin-left: -14px;
}

#crosshair-asb-home-block-2-zoom-sur-une-formation{
    
}

@media only screen and (min-width: @screen-lg-min){
    #img-asb-home-block-2-african-student{
        width: 115% !important;
    }
}

@media only screen and (min-width: @screen-md-min) and (max-width: @screen-md-max){
    #div-home-block-2{
        background-size:57% auto;
        padding-top: 50px;
    }
    #img-asb-home-block-2-african-student{
        width: 115% !important;
    }
}

@media only screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
    #div-home-block-2{
        background-size:70% auto;
        background-position-x: 50px;
        padding-top: 30px;
    }
    #img-asb-home-block-2-african-student{
        width: 60% !important;
    }
}

@media only screen and (min-width: @screen-xs-min) and (max-width: @screen-xs-max){
    #div-home-block-2{
        background-size:100% auto;
        background-position: 40% 5%;
        padding-top: 30px;
    }
    #img-asb-home-block-2-african-student{
        width: 80% !important;
    }
}

@media only screen and (max-width: @screen-xs-min){
    #div-home-block-2{
        background-size:175% auto;
        background-position: 55% -10%;
        padding-top: 30px;
    }
}