/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 juin 2015, 11:27:37
    Author     : HugoG
*/

@import "bootstrap_less_variables.less";

#div-home-block-3{
    min-height: 450px;
    padding: 80px 8.3% 5% 8.3%;
    /* Shadow */
    box-shadow: 0 3px 10px #000 !important;  
    /* Drop-shadow */
    -webkit-filter: drop-shadow(0 0 10px #000) !important;
    -moz-filter: drop-shadow(0 0 10px #000) !important;
    -ms-filter: drop-shadow(0 0 10px #000) !important;
    -o-filter: drop-shadow(0 0 10px #000) !important;
    filter: drop-shadow(0 0 10px #000) !important;
}

#div-home-block-3:before{
    border-bottom: 15px solid #FFF;
    border-left: 15px solid transparent; 
    border-right: 15px solid transparent; 
    top: -15px;
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -21px;
    width: 0; 
    height: 0;
}

#div-header-asb-home-block-3{
    background-image: url("/bundles/asbview/images/nos_conseils_crosshair.png");
    background-repeat: no-repeat;
    background-position: center center;
}

#div-contents-asb-home-block-3{
    margin-top: 30px;
}

.cell-asb-home-block-3{
    margin-bottom: 4%;
}

.icon-contents-cell-asb-home-block-3{
    height: 100px;
    padding: 10px;
    background-color: @asb-orange;
    background-position: center center;
    background-repeat: no-repeat;
}
.text-contents-cell-asb-home-block-3{
    height: 230px;
    padding: 30px 20px;
    background-color: @asb-khaki;
}

#icon-contents-cell-asb-home-block-3-1{
    background-image: url("/bundles/asbview/images/icon_nos_conseils_blog.png");
}

#icon-contents-cell-asb-home-block-3-2{
    background-image: url("/bundles/asbview/images/icon_nos_conseils_diplome.png");
}

#icon-contents-cell-asb-home-block-3-3{
    background-image: url("/bundles/asbview/images/icon_nos_conseils_metier.png");
}

#icon-contents-cell-asb-home-block-3-4{
    background-image: url("/bundles/asbview/images/icon_nos_conseils_newsletter.png");
}

/* Resolutions */
@media only screen and (min-width: @screen-lg-min){
    #div-header-asb-home-block-3{
        background-size: 755px;
    }
}

@media only screen and (min-width: @screen-md-min) and (max-width: @screen-md-max){
    #div-header-asb-home-block-3{
        background-size: 755px;
    }
}

@media only screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
    #div-header-asb-home-block-3{
        background-size: 611px;
    }
}

@media only screen and (min-width: @screen-xs-min) and (max-width: @screen-xs-max){
    #div-header-asb-home-block-3{
        background-size: 611px;
    }
}

@media only screen and (max-width: @screen-xs-min){
    #div-header-asb-home-block-3{
        background-size: 611px;
    }
}