/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 juin 2015, 11:27:37
    Author     : HugoG
*/

@import "bootstrap_less_variables.less";

#div-home-block-1{
    min-height: 327px;
}

.slogan-home{
    margin-top: 40px;
}

#form-asb-keyword-srch-home{
    margin-top: 15px;
}