/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 juin 2015, 16:26:56
    Author     : HugoG
*/

@import "bootstrap_less_variables.less";

#div-list-block-3-contents-frm-srch{
    background-color: @asb-khaki;
    min-height: 755px;
    /* Leave top space to show magnifying*/
    top: -90px;
    /* Reach the bottom */
    margin-bottom: -90px;
}

#div-list-block-3-contents-frm-srch-magnifying{
    background-color: @asb-orange;
    height: 90px;
    margin-left: -15px;
    margin-right: -15px;
}
#div-list-block-3-contents-frm-srch-magnifying-icon{
    transform: scale(0.9);
    margin-top: 0.05;
}

#div-list-block-3-contents-frm-srch-contents-title{
    margin-top: 10px;
    margin-bottom: 10px;
}

.div-list-block-3-contents-frm-srch-contents-field-label{
    left: -30px;
    width: calc(100% ~"+" 60px);
    background-color: @asb-dark-desert-1;
    margin-top: 12px;
    margin-bottom: 12px;
}

.div-list-block-3-contents-frm-srch-contents-field-label > h5{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    background-color: turquoise;
    padding-top: 3px;
    padding-right: 8px;
    padding-bottom: 3px;
    padding-left: 8px;
    background-color: @asb-khaki;
}

@media only screen and (min-width: @screen-lg-min){
    #div-list-block-3-contents-frm-srch{
        width: 20.66%
    }
}

@media only screen and (min-width: @screen-md-min) and (max-width: @screen-md-max){

}

@media only screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max){

}

@media only screen and (min-width: @screen-xs-min) and (max-width: @screen-xs-max){
    #div-list-block-3-contents-frm-srch{
        top: 0;
        margin-bottom: 0;
        min-height: auto;
    }
}

@media only screen and (max-width: @screen-xs-min){
    #div-list-block-3-contents-frm-srch{
        top: 0;
        margin-bottom: 0;
        min-height: auto;
    }
}