{# This file is ASBBundle:CRUD_CUSTOM:inner_row_pays_franco.html.twig #}

{# Extend the default template, which provides batch and action cells #}
{#     as well as the valid colspan computation #}
{% extends 'SonataAdminBundle:CRUD:base_list_flat_inner_row.html.twig' %}

{% block row %}

    {# you can use fields defined in the the Admin class #}
{#    {{ object|render_list_element(admin.list['countryCode']) }} <br />#}
    {{ object.countryCode | country }} - ({{ object|render_list_element(admin.list['countryCode'])}})

{#    <small>#}
        {# or you can use the object variable to render a property #}
{#        {{ object.countryCode | country }}#}
{#    </small>#}

{% endblock %}