{# set variables #}
{% set nom = contents['nom'] %}
{% set prenom = contents['prenom'] %}
{% set email = contents['email'] %}
{% set object = contents['object'] %}
{% set message = contents['message'] %}

{% block subject %}
{% autoescape false %}
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
{#{{ 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}, 'FOSUserBundle') }}#}
{% endautoescape %}
{% endblock %}
{% block body_html %}
<html> 
    <body>
        <div>
            <div>
                <p>Merci de nous contacter.</p>
                <br/>
                <table>
                    <tr>
                        <td>Sujet: </td>
                        <td>{{object}}</td>
                    </tr>
                    <tr>
                        <td>Votre message: </td>
                        <td>{{message}}</td>
                    </tr>
                </table>
            </div>
            <br/>
            <div>
                <p>AfricaSchoolBus</p>
            </div>
        </div>
    </body>
</html>
{% endblock %}