{# Zoom sur une formation #}
<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-1 col-lg-7 col-lg-offset-1">
    <div class="asb-right col-xs-12">
        <table class="asb-left" id="table-asb-home-block-2-zoom-sur-une-formation">
            <tr>
                    {# gap #}
{#                <td class="col-md-2 col-md-offset-0"></td>#}
                <td class="col-md-10 col-lg-6">
                    <div class="col-md-10 col-lg-6">
                        <h1 class="font-header-asb-home-block-2 lato-black asb-orange upper-case">zoom sur</h1>
                    </div>
                </td>
            </tr>
            <tr>
                {# Title of one formation #}
                <td class="col-xs-6">
                    <div class="col-sm-8 col-md-10 col-lg-8">
                        <h1 class="font-header-asb-home-block-2 lato-black asb-marine upper-case">
                            une formation
                        </h1>
                        {% if frontFormation is defined and frontFormation != null and frontFormation.formation.nom %}
                        {% set uneFormation = frontFormation.formation.nom %}
                        <h1 class="font-header-asb-home-block-2 lato-black asb-marine upper-case">
                        {{ uneFormation }}
                        </h1>
                        {% endif %}
                    </div>
                </td>
                    {# crosshair #}
                {#<td class="col-md-2 col-md-offset-0">
                    <img id="crosshair-asb-home-block-2-zoom-sur-une-formation" src="/bundles/asbview/images/zoom_sur_une_formation_crosshair.png">                        
                </td>#}
            </tr>
        </table>
    </div>
    {# gap #}
    <div class="col-md-3 col-lg-3"></div>
    {# contents #}
    <div class="col-xs-12 col-md-9">
        <div class="asb-right asb-black col-sx-12">
                    {% if frontFormation is defined and frontFormation != null and frontFormation.formation.motDuDirecteur %}
                    {% set mytext = frontFormation.formation.motDuDirecteur %}
                    {% else %}
                    {% set mytext = "Objis, leader de la formation informatique depuis 10 ans, a lancé le 1er juin 2015 un cursus de formation Développeur Java Web Mobile en cours du soir à Abidjan." %}
                    {% endif %}
            <div class="asb-black col-xs-6">
                <p>
                    {{ mytext|length > 50 ? mytext|slice(0, 140) ~ '...' : mytext }}
                </p>
                {% if frontFormation is defined and frontFormation != null and frontFormation.formation.id %}
                {% set savoirPlusLink = path('africaschoolbus_view_detail_index', {'formation_title': frontFormation.formation.nom, 'formation_id': frontFormation.formation.id }) %}
                {% else %}
                {% set savoirPlusLink =  "#" %}
                {% endif %}
                <a class="asb-black asb-no-deco" href="{{ savoirPlusLink }}">
                    <p class="capitalize lato-bold">en savoir plus &nbsp;<i class="glyphicon glyphicon-plus"></i></p>
                </a>
            </div>
            <div class="asb-black col-xs-6 col-lg-4">
                {% if frontFormation is defined and frontFormation != null and frontFormation.photoName %}
                <img id="img-asb-home-block-2-african-student" src="/images/zoomsurformation/{{ frontFormation.photoName }}"/>
                {% else %}
                <img id="img-asb-home-block-2-african-student" src="/bundles/asbview/images/african_student_graduate.png"/>
                {% endif %}
            </div>

        </div>
    </div>
</div>
