{# Mot du directeur block #}
<div id="div-detail-block-3-contents-column-main-mdd-container">
    {# Title #}
    <div class="col-xs-12" id="div-detail-block-3-contents-column-main-mdd-container-title">
        <h3 class="lato-bold asb-orange upper-case asb-left">
            le mot du directeur
        </h3>
    </div>
    {# Contents #}
    <div class="col-xs-12" id="div-detail-block-3-contents-column-main-mdd-container-contents">
        <div class="col-xs-2 col-sm-2 col-md-2" id="div-detail-block-3-contents-column-main-mdd-container-contents-photo">
            {% if formation.directorPhoto and formation.directorPhoto.photoName !="" %}
                {% set photoSrc = asset('photos/director/'~formation.directorPhoto.photoName) %}
            {% else %}
                {% set photoSrc = asset('bundles/asbview/images/photo-directeur.png') %}
            {% endif %}
            <img class="" src="{{ photoSrc }}"/>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10" id="div-detail-block-3-contents-column-main-mdd-container-contents-texts">
            <p class="lato-lightitalic asb-left">
        {{ formation.motDuDirecteur }}
            </p>
        </div>
        <div class="col-xs-11 col-sm-5 col-md-5 asb-right asb-padding-left-0 asb-padding-right-0">
            <hr class="div-detail-block-3-contents-column-main-semi-seperator"/>
        </div>
    </div>
</div>