{# Nav tabs #}
<ul class="nav nav-tabs" id="ul-detail-block-3-contents-column-main-tabs-nav-link">
    <li class="active"><a data-toggle="tab" href="#home">Description</a></li>
    <li><a data-toggle="tab" href="#menu1">Public visé</a></li>
    <li><a data-toggle="tab" href="#menu2">Objectifs</a></li>
    <li><a data-toggle="tab" href="#menu3">Coûts</a></li>
</ul>
{# Contents #}
<div class="tab-content asb-container">
    <div id="home" class="tab-pane fade in active">
        {% if formation.description %}
        <p class="lato-light font-larger asb-left">{{ formation.description }}</p>
        {% endif %}
    </div>
    <div id="menu1" class="tab-pane fade">
        {% if formation.publicVise %}
        <p class="lato-light font-larger asb-left">{{ formation.publicVise }}</p>
        {% endif %}
    </div>
    <div id="menu2" class="tab-pane fade">
        {% if formation.objectif %}
        <p class="lato-light font-larger asb-left">{{ formation.objectif }}</p>
        {% endif %}
    </div>
    <div id="menu3" class="tab-pane fade">
        {% if formation.cout %}
        <p class="lato-light font-larger asb-left">{{ formation.cout }}</p>
        {% endif %}
    </div>
</div>