{# Comment ça marche #}
<div class="col-xs-10 col-sm-offset-1 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1">
    <div class="asb-left col-xs-12">
        <table>
            <tr>
                <td>
                    <h1 class="font-header-asb-home-block-2 lato-black asb-orange upper-case">objectif:</h1>
                    <h1 class="font-header-asb-home-block-2 lato-black asb-marine upper-case">1er emploi</h1>
                </td>
                <td>
{#                    <h1 class="font-header-asb-home-block-2 lato-bold asb-orange" id="h1-point-interogation-big-asb-home-block-2">?</h1>#}
                </td>
            </tr>
        </table>
    </div>
    <div class="asb-left col-xs-12">
        <p>
            Africa SchoolBus est le 1er moteur de recherche de formations en Afrique. Nous sélectionnons les formations qui vous prépareront le mieux à votre futur emploi.
        </p>
        <ul>
            <li><strong class="upper-case">cherchez</strong> votre future formation</li>
            <li><strong class="upper-case">contactez</strong> l'établissement partenaire</li>
            <li><strong class="upper-case">bénéficiez</strong> de conseils et d'informations sur les études et les métiers</li>
            <li>... et <strong class="upper-case">préparez</strong> votre avenir</li>
        </ul>
    </div>
    <div class="asb-right col-xs-12">
        {#<a>
            <p class="capitalize lato-bold">en savoir plus &nbsp;<i class="glyphicon glyphicon-plus"></i></p>
        </a>#}
    </div>
</div>
{# Zoom sur une formation #}
<div class="col-xs-10 col-sm-8 col-md-5 col-lg-5">
    <div class="asb-right col-xs-12">
        <table class="asb-right" id="table-asb-home-block-2-zoom-sur-une-formation">
            <tr>
                    {# gap #}
                <td class="col-md-2 col-md-offset-0"></td>
                <td class="col-md-10 col-md-offset-0">
                    <h1 class="font-header-asb-home-block-2 lato-black asb-orange upper-case">zoom sur</h1>
                </td>
            </tr>
            <tr>
                    {# crosshair #}
                <td class="col-md-2 col-md-offset-0">
                    <img id="crosshair-asb-home-block-2-zoom-sur-une-formation" src="/bundles/asbview/images/zoom_sur_une_formation_crosshair.png">                        
                </td>
                {# Title of one formation #}
                <td class="col-md-10"> 
                    <h1 class="font-header-asb-home-block-2 lato-black asb-marine upper-case">
                        une formation
                    </h1>
                </td>
            </tr>
        </table>
    </div>
    {# gap #}
    <div class="col-md-3"></div>
    {# contents #}
    <div class="col-xs-12 col-md-9">
        <div class="asb-right asb-white col-sx-12">
                    {% if frontFormation is defined and frontFormation.motDuDirecteur %}
                    {% set mytext = frontFormation.motDuDirecteur %}
                    {% else %}
                    {% set mytext = "Objis, leader de la formation informatique depuis 10 ans, a lancé le 1er juin 2015 un cursus de formation Développeur Java Web Mobile en cours du soir à Abidjan." %}
                    {% endif %}
            <div class=" asb-white col-xs-6">
                <p>
                    {{ mytext|length > 50 ? mytext|slice(0, 140) ~ '...' : mytext }}
                </p>
                <a class="asb-white asb-no-deco">
                    <p class="capitalize lato-bold">en savoir plus &nbsp;<i class="glyphicon glyphicon-plus"></i></p>
                </a>
            </div>
            <div class="asb-white col-xs-6">
                <img id="img-asb-home-block-2-african-student" src="/bundles/asbview/images/african_student_graduate.png"/>
            </div>

        </div>
    </div>
</div>
