{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@ASBViewBundle/Resources/assets/less/global.less' 
        filter='lessphp'
        output='css/main.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
    {% endstylesheets %}
{% endblock %}
{% block body %}
    {{ parent() }}
{# Header #}
<div class="header asb-container asb-center">
    <div class="header-band"><a class="" href="{{ path('africaschoolbus_view_home_index') }}"></a></div>
</div>
    {% block body_asb %}{% endblock %}
{# Footer #}
<div class="footer asb-container">
    <div class="asb-container footer-contents col-xs-8 col-xs-offset-2 col-md-10 col-md-offset-1 asb-left">
        {# First cell #}
        <div class="cell-footer-contents asb-left">
            <div class="header-cell-footer-contents">
                <h5 class="asb-white upper-case">
                    formations
                </h5>
            </div>
            <div class="contents-cell-footer-contents">
                <ul class="upper-case asb-no-deco asb-footer-links-list">
                    <li class="asb-white asb-no-deco lato-light asb-footer-links-link"><a class="asb-white" href="{{ path('africaschoolbus_view_formations_by_country') }}">Par pays</a></li>
{#                    <li class="asb-white asb-no-deco lato-light asb-footer-links-link">Par domaine</li>#}
{#                    <li class="asb-white asb-no-deco lato-light asb-footer-links-link">Par établissements</li>#}
{#                    <li class="asb-white asb-no-deco lato-light asb-footer-links-link">Par diplôme</li>#}
{#                    <li class="asb-white asb-no-deco lato-light asb-footer-links-link">Le top des recherches</li>#}
                </ul>
            </div>
        </div>
        {# Second cell #}
        <div class="cell-footer-contents asb-left">
            <div class="header-cell-footer-contents">
                <h5 class="asb-white upper-case">
                    élèves
                </h5>
            </div>
            <div class="contents-cell-footer-contents">
                <ul class="upper-case asb-no-deco asb-footer-links-list">
{#                    <li class="asb-white asb-no-deco lato-light asb-footer-links-link">Guide des Formations</li>#}
{#                    <li class="asb-white asb-no-deco lato-light asb-footer-links-link">Guide des Métiers</li>#}
                    <li class="asb-white asb-no-deco lato-light asb-footer-links-link">Blog</li>
                    <li class="asb-white asb-no-deco lato-light asb-footer-links-link">Newsletter</li>
{#                    <li class="asb-white asb-no-deco lato-light asb-footer-links-link">FAQ</li>#}
                </ul>
            </div>
        </div>
        {# Third cell #}
        <div class="cell-footer-contents asb-left">
            <div class="header-cell-footer-contents">
                <h5 class="asb-white upper-case">
                    partenaires
                </h5>
            </div>
            <div class="contents-cell-footer-contents">
                <ul class="upper-case asb-no-deco asb-footer-links-list">
                    <li class="asb-white asb-no-deco lato-light asb-footer-links-link">Établissements de formation</li>
{#                    <li class="asb-white asb-no-deco lato-light asb-footer-links-link">Entreprises</li>#}
                    <li class="asb-white asb-no-deco lato-light asb-footer-links-link">Médias</li>
{#                    <li class="asb-white asb-no-deco lato-light asb-footer-links-link">FAQ</li>#}
                </ul>
            </div>
        </div>
        {# Fourth cell #}
        <div class="cell-footer-contents asb-left">
            <div class="header-cell-footer-contents">
                <h5 class="asb-white upper-case">
                    à propos
                </h5>
            </div>
            <div class="contents-cell-footer-contents">
                <ul class="upper-case asb-no-deco asb-footer-links-list">
                    <li class="asb-white asb-no-deco lato-light asb-footer-links-link">AfricaSchoolBus</li>
{#                    <li class="asb-white asb-no-deco lato-light asb-footer-links-link">iSchoolBlog</li>#}
{#                    <li class="asb-white asb-no-deco lato-light asb-footer-links-link">SchoolBus Talents</li>#}
{#                    <li class="asb-white asb-no-deco lato-light asb-footer-links-link">Nous recrutons</li>#}
                    <li class="asb-white asb-no-deco lato-light asb-footer-links-link">Contactez-nous</li>
                    <li class="asb-white asb-no-deco lato-light asb-footer-links-link">Mentions légales</li>
                </ul>
            </div>
        </div>
        {# Fifth cell #}
        <div class="cell-footer-contents asb-left">
            <div class="header-cell-footer-contents">
                <h5 class="asb-white upper-case">
                    retrouvez-nous sur
                </h5>
            </div>
            <div class="contents-cell-footer-contents">
                <ul class="upper-case asb-no-deco asb-footer-links-list">
                    <li class="asb-white asb-no-deco lato-light asb-footer-links-link"><a class="asb-white" href="https://www.facebook.com/africaschoolbus" target="_blank">Facebook</a></li>
                    <li class="asb-white asb-no-deco lato-light asb-footer-links-link"><a class="asb-white" href="https://twitter.com/AfricaSchoolbus" target="_blank">Twitter</a></li>
                    <li class="asb-white asb-no-deco lato-light asb-footer-links-link"><a class="asb-white" href="mailto:contact@africaschoolbus.com?Subject=Contact">Email</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="asb-container" id="footer-logo">
        <div style="clear:both;"></div>            
    </div>
    <div class="footer-band asb-center asb-container">
        <p class=" asb-center asb-middle upper-case">
            Avec Africa SchoolBus, en route vers votre futur
        </p>        
        <div style="clear:both;"></div>
    </div>
</div>
{% endblock %}
