<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}AfricaSchoolBus{% endblock %}</title>
        {% block stylesheets %}
            {% include 'base_css.html.twig' %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon_asb_125x50.ico') }}" />
    </head>
    <body class="wrapper">
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% include 'base_js.html.twig' %}
        {% endblock %}
    </body>
</html>
