<div class="col-xs-10 col-xs-offset-1 asb-center asb-container" id="div-detail-block-2-contents">
    {# Header1 #}
    <div class="asb-container col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0" id="div-detail-block-2-contents-header-1">
        <table class="table-responsive asb-table-responsive div-detail-block-2-contents-header-table">
            <tr class="col-sm-12">
                {# Diplome logo here #}
                <td class="col-xs-3 col-sm-2 col-md-3 col-lg-2 asb-padding-right-0" id="div-detail-block-2-contents-header-1-td-icon-diplome">
                    <img class="col-sm-12 asb-width-100-pct asb-padding-left-0" id="div-detail-block-2-contents-header-1-icon-diplome" src="/bundles/asbview/images/icon_detail_diplome.png">
                </td>
                {# Formation name here #}
                <td class="col-xs-9 col-sm-10 col-md-9 col-lg-10 asb-padding-left-0" id="div-detail-block-2-contents-header-1-td-formation-name">
                    <h3 class="col-sm-12 asb-orange lato-black upper-case asb-left asb-margin-top-0 asb-padding-left-0" id="div-detail-contents-header-1">
                        résultats de la recherche
                        de la recherche
                        la recherche
                        recherche
                        cherche
                    </h3>
                </td>
            </tr>
        </table>
    </div>
    {# Header2 #}
    <div class="asb-container col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2" id="div-detail-block-2-contents-header-2">
        <table class="table-responsive asb-table-responsive asb-right div-detail-block-2-contents-header-table">
            <tr class="col-sm-12">
                <td class="asb-right">
                    <h3 class="col-sm-12 asb-orange lato-black upper-case asb-right asb-margin-top-0 asb-padding-right-0 asb-margin-bottom-0" id="">
                        informations
                    </h3>
                    <h3 class="col-sm-12 asb-white lato-black upper-case asb-right asb-margin-top-0 asb-padding-right-0 asb-margin-bottom-0" id="">
                        générales
                    </h3>
                </td>
            </tr>
            <tr class="asb-right">
                <td class="col-sm-12">
                    {# contact address #}
                    <h5 class="col-sm-12 asb-white lato-regular asb-right asb-padding-right-0 asb-margin-bottom-0" id="">
                        {{formation.etablissement.rue}}
                    </h5>
                    <h5 class="col-sm-12 asb-white lato-regular asb-right asb-padding-right-0 asb-margin-bottom-0" id="">
                        {{formation.etablissement.cp}}&nbsp{{formation.etablissement.ville}},&nbsp{{formation.etablissement.pays|country(app.request.locale)}}
                    </h5>
                    {# contact telephone #}
                    <h5 class="col-sm-12 asb-white lato-regular asb-right asb-padding-right-0 asb-margin-bottom-0" id="">
                        {{formation.etablissement.telephone}}
                    </h5>
                    {# contact web site #}
                    <h5 class="col-sm-12 asb-white lato-black asb-right asb-padding-right-0 asb-margin-bottom-0" id=""> 
                        {% if formation.etablissement.siteWeb %}
                            {% set etablissementLink = formation.etablissement.siteWeb|trim %}
                            {% if 'http://' in etablissementLink %}
                                {%set etablissementLink = etablissementLink|trim('http://') %}
                            {% endif %}
                        <a class="asb-white lato-black" href="http://{{ etablissementLink }}" target="blank"> 
                            site web
                        </a>
                        {% endif %}
                    </h5>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="col-xs-1"></div>           {# Gap, do not remove! #}
