<div>
    <h2>Detailed search</h2>
    {{ form_start(criteriasSrchForm) }}
        {{ form_errors(criteriasSrchForm) }}

        <div>
            {{ form_label(criteriasSrchForm.domaine) }}
            {{ form_errors(criteriasSrchForm.domaine) }}
            {{ form_widget(criteriasSrchForm.domaine) }}
        </div>

        <div>
            {{ form_label(criteriasSrchForm.matiere) }}
            {{ form_errors(criteriasSrchForm.matiere) }}
            {{ form_widget(criteriasSrchForm.matiere) }}
        </div>

        <div>
            {{ form_label(criteriasSrchForm.diplome) }}
            {{ form_errors(criteriasSrchForm.diplome) }}
            {{ form_widget(criteriasSrchForm.diplome) }}
        </div>

        <div>
            {{ form_widget(criteriasSrchForm.search) }}
        </div>

    {{ form_end(criteriasSrchForm) }}
</div>
