<div class="col-xs-12 col-sm-6 col-sm-offset-3 asb-center">
    <h1 class="slogan slogan-home">
        <span class="slogan-pt1 asb-orange">En route! </span>
        {#<span class="slogan-pt1 asb-orange">en route vers </span>
        <span class="slogan-pt2 asb-marine">votre futur</span>#}
    </h1>
    <h4 class="sub-slogan asb-marine">
        Les meilleures formations pour votre réussite professionnelle
    </h4>
</div>
<div class=" col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4" id="form-asb-keyword-srch-home">
{{ form_start(keywordSrchForm, {'attr':{'class':'col-xs-10 col-xs-offset-1'}}) }}
    {{ form_errors(keywordSrchForm) }}

    <div class="form-group asb-center">
{#        {{ form_label(keywordSrchForm.keyword) }}#}
        {% set text_search = 'srch_form.input.search' %}
        {{ form_errors(keywordSrchForm.keyword) }}
        {{ form_widget(keywordSrchForm.keyword, {
                    'attr':{
                            'class':'form-control input-asb-keyword-srch', 
                            'placeholder': text_search|trans
                            }
                        }) }}
    </div>

    <div class="form-group asb-center">
        {{ form_widget(keywordSrchForm.search, {
            'attr':{
                'class':'btn btn-default btn-lg btn-asb-keyword-srch'
            }
                }) }}
    </div>

{{ form_end(keywordSrchForm) }}
</div>
