{% extends "ASBViewBundle::layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@ASBViewBundle/Resources/assets/less/home.less' 
        filter='lessphp'
        output='css/home.css'
    %}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
    {% endstylesheets %}
{% endblock %}
{% block title %}AfricaSchoolBus - Accueil{% endblock %}
{% block body_asb %}
<div class="asb-container">
    {# Blocks #}
    <div class="div-white col-xs-12 asb-container" id="div-home-block-1">
    {# Blocks #}
        {% include 'ASBViewBundle:Home:index_block_1.html.twig' %}
    </div>
    <div class="div-transparent col-xs-12 asb-container" id="div-home-block-2">
    {# Blocks #}
        {% include 'ASBViewBundle:Home:index_block_2.html.twig' %}
    </div>
{#    <div>#}
    {# Blocks #}
{#        {% include 'ASBViewBundle:Home:index_block_search_criterias.html.twig' %}#}
{#    </div>#}
    <div class="div-white col-xs-12" id="div-home-block-3">
    {# Blocks #}
        {% include 'ASBViewBundle:Home:index_block_3.html.twig' %}
    </div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{# include routing scripts -- fosjsrouting #}
<script src="{{ asset('bundles/asbview/js/routing.js') }}"></script>
{% endblock %}
