<div class="asb-center asb-middle asb-container" id="div-header-asb-home-block-3">
    <h1 class="font-header-asb-home-block-3 lato-black asb-orange upper-case">
        nos conseils
    </h1>
</div>
<div class="asb-center asb-container" id="div-contents-asb-home-block-3">
    {# First cell #}
    <div class="cell-asb-home-block-3 col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-0 col-lg-3 col-lg-offset-0">
        <div class="header-cell-asb-home-block-3 asb-center asb-middle">
            <h4 class="asb-orange lato-bold upper-case">notre blog</h4>
        </div>
        <div class="contents-cell-asb-home-block-3">
            <div class="icon-contents-cell-asb-home-block-3 asb-center" id="icon-contents-cell-asb-home-block-3-1"></div>
            <div class="text-contents-cell-asb-home-block-3 asb-left">
                <p class="lato-light">
                    Retrouvez l'actualité de l'enseignement supérieur et de la formation en Afrique sur notre blog. Bénéficiez de conseils pour préparer au mieux vos études.
                </p>
            </div>
        </div>
    </div>
    {# Second cell #}
    <div class="cell-asb-home-block-3 col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-0 col-lg-3 col-lg-offset-0">
        <div class="header-cell-asb-home-block-3 asb-center asb-middle">
            <h4 class="asb-orange lato-bold upper-case">guide des diplômes</h4>
        </div>
        <div class="contents-cell-asb-home-block-3">
            <div class="icon-contents-cell-asb-home-block-3 asb-center" id="icon-contents-cell-asb-home-block-3-2"></div>
            <div class="text-contents-cell-asb-home-block-3 asb-left">
                <p class="lato-light">
                    Décryptage des formations existantes en Afrique et ailleurs
                </p>
            </div>
        </div>
    </div>
    {# Third cell #}
    <div class="cell-asb-home-block-3 col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-0 col-lg-3 col-lg-offset-0">
        <div class="header-cell-asb-home-block-3 asb-center asb-middle">
            <h4 class="asb-orange lato-bold upper-case">guide des métiers</h4>
        </div>
        <div class="contents-cell-asb-home-block-3">
            <div class="icon-contents-cell-asb-home-block-3 asb-center" id="icon-contents-cell-asb-home-block-3-3"></div>
            <div class="text-contents-cell-asb-home-block-3 asb-left">
                <p class="lato-light">
                    Définition de métiers porteurs et créateurs d'emplois
                </p>
            </div>
        </div>
    </div>
    {# Fourth cell #}
    <div class="cell-asb-home-block-3 col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-0 col-lg-3 col-lg-offset-0">
        <div class="header-cell-asb-home-block-3 asb-center asb-middle">
            <h4 class="asb-orange lato-bold upper-case">newsletter</h4>
        </div>
        <div class="contents-cell-asb-home-block-3">
            <div class="icon-contents-cell-asb-home-block-3 asb-center" id="icon-contents-cell-asb-home-block-3-4"></div>
            <div class="text-contents-cell-asb-home-block-3 asb-left">
                <p class="lato-light">
                    Inscrivez-vous à notre newsletter pour retrouver l'actualité de nos établissements de formation et entreprises partenaires : news, événements, campagnes de recrutements...
                </p>
            </div>
        </div>
    </div>
</div>
