<div class="col-xs-10 col-xs-offset-1 asb-center asb-container asb-test-bordered" id="div-detail-block-3-contents">
    {# =========== #}
    {# Left column #}
    {# =========== #}
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 asb-container asb-test-bordered" id="div-detail-block-3-contents-column-left">
        <div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0 col-lg-12 asb-left asb-padding-left-0 asb-padding-right-0 asb-test-bordered" id="div-detail-block-3-contents-column-left-contents">
            <div class="asb-container col-lg-12">
                <ul class="list-square asb-left div-detail-block-3-contents-column-left-contents-ul">
                {# Mode d'enseignement #}
                    <li class="asb-dark-desert-2 ">
                        <h5 class="lato-black asb-margin-bottom-0">
                            Mode d'enseignement
                        </h5>
                    </li>
                    <p class="lato-regular asb-dark-desert-1 asb-margin-top-0">
                    {{ formation.modeEnseignement}}
                    </p>
                {# Data sessions #}
                    <li class="asb-dark-desert-2 ">
                        <h5 class="lato-black asb-margin-bottom-0">
                            Date des prochaines sessions
                        </h5>
                    </li>
                    {% if formation.sessions %}
                    {% set sessions = formation.sessions %}
                    <p class="lato-regular asb-dark-desert-1 asb-margin-top-0">
                        {% for session in sessions %}
                        De <strong class="lato-black">{{ session.dateDebut|date('d M Y') }}</strong> à <strong class="lato-black">{{ session.dateFin|date('d M Y') }}</strong>
                        {% if not loop.last %}
                        <br/>
                        {% endif %}
                        {% endfor %}
                    </p>
                    {% else %}
                    <p class="lato-regular asb-dark-desert-1 asb-margin-top-0">
                        Non renseignées
                    </p>
                    {% endif %}
                    <div class="collapse" id="div-detail-block-3-contents-column-left-contents-ul-li-contact">
                    {# Contact #}
                        <li class="asb-dark-desert-2 ">
                            <h5 class="lato-black asb-margin-bottom-0">
                                Contact
                            </h5>
                        </li>
                        <p class="lato-regular asb-dark-desert-1 asb-margin-top-0 asb-margin-bottom-0">
                        {{ formation.contactNom }}
                        </p>
                        <p class="lato-regular asb-dark-desert-1 asb-margin-top-0 asb-margin-bottom-0">
                        {{ formation.contactTelephone }}
                        </p>
                        <p class="lato-regular asb-dark-desert-1 asb-margin-top-0 asb-margin-bottom-0">
                            <a class="lato-regular asb-dark-desert-1" href="mailto:{{ formation.contactEmail }}?Subject=Contact" target="_top">
                            {{ formation.contactEmail }}
                            </a>
                        </p>
                        <p class="lato-regular asb-dark-desert-1 asb-margin-top-0">
                        {% if formation.contactSiteWeb %}
                                {% set formationSiteWeb = formation.contactSiteWeb|trim %}
                                {% if 'http://' in formation.contactSiteWeb %}
                                    {%set formationSiteWeb = formation.contactSiteWeb|trim('http://') %}
                                {% endif %}
                            <a class="lato-regular asb-dark-desert-1" href="http://{{ formationSiteWeb }}" target="_top">
                            {{ formationSiteWeb }}
                            </a>
                        {% endif %}
                        </p>
                    </div>
                </ul>
            </div>
            {# Network brands #}
            <div class="asb-container col-lg-12 asb-padding-left-0 asb-padding-right-0">
                <a href=""><i class="fa fa-twitter-square fa-3x asb-brand-twitter"></i></a>
                <a href=""><i class="fa fa-facebook-square fa-3x asb-brand-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus-square fa-3x asb-brand-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin-square fa-3x asb-brand-linkedin"></i></a>
                <br/>
            </div>
            {# Buttons #}
            <div class="asb-container col-lg-12 asb-padding-left-0 asb-padding-right-0">
                <button class="btn btn-asb-light-text" 
                        data-toggle="collapse" 
                        data-target="#div-detail-block-3-contents-column-left-contents-ul-li-contact"
                        aria-expanded=false" 
                        aria-controls="div-detail-block-3-contents-column-left-contents-ul-li-contact">Contact</button>
                <button class="btn btn-asb-light-text">Demande de documentation</button>
                <button class="btn btn-asb-light-text">Être rappelé</button>
            </div>
        </div>
    </div>
    {# =========== #}
    {# Main column #}
    {# =========== #}
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 asb-container asb-test-bordered" id="div-detail-block-3-contents-column-main">
        <div class="col-xs-12 asb-container asb-test-bordered" id="div-detail-block-3-contents-column-main-header">
            <div class="col-xs-12 col-md-6 asb-padding-left-0" id="div-detail-block-3-contents-column-main-header-text">
                <h2 class="lato-black asb-orange upper-case asb-margin-top-0 asb-margin-bottom-0 asb-left">
                {{ formation.nom }}
                </h2>
            </div>
            <div class="col-md-6 hidden-xs hidden-sm" id="div-detail-block-3-contents-column-main-header-crosshair"></div>

        </div>
        <div class="col-xs-12 asb-container asb-right asb-test-bordered" id="div-detail-block-3-contents-column-main-return-link">
            {% set linkReturnList = path("africaschoolbus_view_list_srch_index") %}
            {% if app.request.headers.get('referer') %}
                {% set linkReturnList = app.request.headers.get('referer') %}
            {% endif %}
            <a class="lato-black asb-orange" href="{{ linkReturnList }}">Retourner à la liste des résultats</a>
        </div>
        {# Include tab-nav #}
        <div class="col-xs-12 asb-test-bordered" id="div-detail-block-3-contents-column-main-tabs">
        {% include 'ASBViewBundle:Detail:index_block_3_nav_tab_contents.html.twig' %}
        </div>
        {# Include video block #}
        {% if formation.video or formation.videoLink %}
        <div class="col-xs-12 asb-test-bordered" id="div-detail-block-3-contents-column-main-video">
        <div class="col-xs-12 asb-test-bordered" id="div-detail-block-3-contents-column-main-video-container">
        {% include 'ASBViewBundle:Detail:index_block_3_video.html.twig' %}
        </div>
        </div>
        {% endif %}
        {# Include image slide #}
        {% if formation.images %}
        <div class="col-xs-12 asb-padding-left-0 asb-padding-right-0 asb-test-bordered" id="div-detail-block-3-contents-column-main-image">
        {% include 'ASBViewBundle:Detail:index_block_3_image.html.twig' %}
        </div>
        {% endif %}
        {# Include mot du directeur #}
        {% if formation.motDuDirecteur %}
        <div class="col-xs-12 asb-padding-left-0 asb-padding-right-0 asb-test-bordered" id="div-detail-block-3-contents-column-main-mdd">
        {% include 'ASBViewBundle:Detail:index_block_3_mot_du_directeur.html.twig' %}
        </div>
        {% endif %}
        {# Include comments #}
        <div class="col-xs-12 asb-padding-left-0 asb-padding-right-0 asb-test-bordered" id="div-detail-block-3-contents-column-main-comment">
        {% include 'ASBViewBundle:Detail:index_block_3_comment.html.twig' %}
        </div>
    </div>
</div>
<div class="col-xs-1"></div>           {# Gap, do not remove! #}