{% extends "ASBViewBundle::layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@ASBViewBundle/Resources/assets/less/detail.less' 
        filter='lessphp'
        output='css/detail.css'
    %}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
{# Slick #}
<link href="{{ asset('bundles/asbview/css/slick.css') }}" type="text/css" rel="stylesheet" media="all" />
<link href="{{ asset('bundles/asbview/css/slick-theme.css') }}" type="text/css" rel="stylesheet" media="all" />
    {% endstylesheets %}
{% endblock %}
{% block title %}AfricaSchoolBus - Détail d'une formations{% endblock %}
{% block body_asb %}
{# Get all request GET parameters #}
{% set queryParams = app.request.query.all %}
<div class="asb-container">
    {# blocks #}
    <div class="div-white asb-container col-xs-12" id="div-detail-block-1">
    {# Blocks #}
        {% include 'ASBViewBundle:Detail:index_block_1.html.twig' %}
    </div>

    {# blocks #}
    <div class="div-transparent asb-container col-xs-12" id="div-detail-block-2">
    {# Blocks #}
        {% include 'ASBViewBundle:Detail:index_block_2.html.twig' %}
    </div>

    {# blocks #}
    <div class="div-white asb-container container col-xs-12" id="div-detail-block-3">
    {# Blocks #}
        {% include 'ASBViewBundle:Detail:index_block_3.html.twig' %}
    </div>
    {# Modal for slick image #}
    {% if formation.images %}
    <div class="modal fade bs-example-modal-lg" id="detail-image-model" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content asb-center">
                <div class="asb-slick-modal asb-margin-bottom-0">
                    {% for image in formation.images %}
                    <div class="">
                        <div class="detail-slick-modal-image-body asb-center">
                            <img class="detail-slick-modal-image-image" src="{{ asset('images/formation/'~image.imageName) }}"/>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{# include routing scripts -- fosjsrouting #}
<script src="{{ asset('bundles/asbview/js/routing.js') }}"></script>
<script src="{{ asset('bundles/asbview/js/view_detail.js') }}"></script>
{# Slick #}
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="{{ asset('bundles/asbview/js/slick.min.js') }}"></script>
<script src="{{ asset('bundles/asbview/js/view_detail_slick.js') }}"></script>
{% endblock %}

