/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 juin 2015, 17:59:25
    Author     : HugoG
*/

@import "global.less";
@import "styles/list_block_1.less";
@import "styles/list_block_2.less";
@import "styles/list_block_3.less";
@import "styles/list_block_3_srch_form.less";
@import "styles/list_block_3_results.less";

#div-list-block-2{
    padding-top: 40px;
    padding-bottom: 10px;
}

#div-list-block-3{
    /* Shadow */
    box-shadow: 0 0 20px #000 !important;  
    /* Drop-shadow */
/*    -webkit-filter: drop-shadow(0 0 10px #000) !important;
    -moz-filter: drop-shadow(0 0 10px #000) !important;
    -ms-filter: drop-shadow(0 0 10px #000) !important;
    -o-filter: drop-shadow(0 0 10px #000) !important;
    filter: drop-shadow(0 0 10px #000) !important;*/
}