{% extends "ASBViewBundle::layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@ASBViewBundle/Resources/assets/less/list.less' 
        filter='lessphp'
        output='css/list.css'
        '@ASBViewBundle/Resources/assets/less/formationsBy.less' 
        filter='lessphp'
        output='css/formationsBy.css'
    %}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
    {% endstylesheets %}
{% endblock %}
{% block title %}AfricaSchoolBus - Formations par pays{% endblock %}
{% block body_asb %}
{# Get all request GET parameters #}
{% set queryParams = app.request.query.all %}
{# blocks #}
<div class="div-transparent asb-container col-xs-12" id="div-list-block-2">
    {# Block #}
        {% include 'ASBViewBundle:List:index_block_1.html.twig' %}
</div>

    {# Block #}
<div class="asb-container" id="formations-by-country-container">
    <div class="col-xs-10 col-xs-offset-1" id="formations-by-country-div">
        <article id="formations-by-country-div-article">
    {% if countryCount and countryCount | length >= 1 %}
        {% for country, count in countryCount %}
            <div class="col-xs-8 col-xs-offset-2 formations-by-country-div-article-cell"> 
                <a class="asb-black" href="{{ path("africaschoolbus_view_list_srch_index")~"?pays="~country }}" > 
                    <h4>{{ country | country }}</h4> 
                </a> 
                <span class="badge badge-pays" code="{{ country }}">{{ count }}</span>
            </div>
        {% endfor %}
    {% endif %}
        </article>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{# include routing scripts -- fosjsrouting #}
<script src="{{ asset('bundles/asbview/js/routing.js') }}"></script>
<script src="{{ asset('bundles/asbview/js/formations_by_country.js') }}"></script>
{% endblock %}
