{% extends "ASBViewBundle::layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@ASBViewBundle/Resources/assets/less/newsletter.less' 
        filter='lessphp'
        output='css/newsletter.css'
    %}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
    {% endstylesheets %}
{% endblock %}
{% block title %}AfricaSchoolBus - Newsletter{% endblock %}
{% block body_asb %}
<div class="asb-container newsletter-container" id="newsletter-container">
    <div class="col-xs-8 col-xs-offset-2 col-md-10 col-md-offset-1 asb-container">
        <h3>Abonnez-vous à notre newsletter</h3>        
    </div>
    <div class="asb-container newsletter-container" id="newsletter-subscription-container">
        <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 asb-container">

        {{ form_start(subscrptForm) }}
        {{ form_javascript(subscrptForm) }}
        {{ form_errors(subscrptForm) }}

            <div class="form-group col-md-12 col-sm-12">
            {{ form_label(subscrptForm.nom, 'Nom') }}
            {{ form_errors(subscrptForm.nom) }}
            {{ form_widget(subscrptForm.nom, {'id': 'formSbNlNom', 'attr': {'class': 'form-control', 'placeholder':'Nom'}}) }}
            </div>
            <div class="col-md-8"></div>

            <div class="form-group col-md-12 col-sm-12">
            {{ form_label(subscrptForm.prenom, 'Prénom') }}
            {{ form_errors(subscrptForm.prenom) }}
            {{ form_widget(subscrptForm.prenom, {'id': 'formSbNlPreom', 'attr': {'class': 'form-control', 'placeholder':'Prénom'}}) }}
            </div>

            <div class="form-group col-md-12 col-sm-12">
            {{ form_label(subscrptForm.email, 'Adresse email') }}
            {{ form_errors(subscrptForm.email) }}
            {{ form_widget(subscrptForm.email, {'id': 'formSbNlEmail', 'attr': {'class': 'form-control', 'placeholder':'Votre email'}}) }}
            </div>

            <div class="div-captcha form-group col-md-12 col-sm-12">            
                <label id="label-asb_newsletter_subscription_captcha" for="location_lef_contact_captcha">Captcha</label>
                <div class="g-recaptcha" id="asb_newsletter_subscription_captcha" data-sitekey="6Lc8iwcTAAAAAIYGG3TbpBWMxjxWc6qM2iWNLswx"></div>
            </div>
            <div class="col-md-12 col-sm-12" id="asb_newsletter_subscription_returned_message"></div>
            <div id="newsletter-subscription-form-bottom">
                <div class="form-group col-md-9 col-sm-9"></div>
                <div class="form-group col-md-2 col-sm-2">
                        {{ form_row(subscrptForm.send, { 'id':'formSbNlBtnEnvoyer', 'label': 'Envoyer', 'attr':{ 'class': 'btn btn-success'}}) }}
                </div>
            </div>
            {{ form_end(subscrptForm) }}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{# include routing scripts -- fosjsrouting #}
<script src="{{ asset('bundles/asbview/js/routing.js') }}"></script>
<script src="{{ asset('bundles/asbview/js/view_newsletter.js') }}"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
