{#{% extends "ASBViewBundle::layout.html.twig" %}#}

{% block body -%}
<h2>Laissez votre commentaire</h2>

    {{ form_start(form) }}
    {{ form_errors(form) }}

<div class="hidden">
        {{ form_label(form.formation) }}
        {{ form_errors(form.formation) }}
        {{ form_widget(form.formation) }}
</div>

<div class="asb-container asb-center">
    <div style="display: inline-block">
        <label>Note : </label>
    </div>
            {# Rate Yo star #}
    <div class="asb-detail-comment-rate-star" data="" width="20" style="display: inline-block"></div>
</div>

<div class="hidden">
        {{ form_label(form.rate, 'Note : ') }}
        {{ form_errors(form.rate) }}
        {{ form_widget(form.rate, {'attr': {'class': 'asb-detail-comment-rate-select'}}) }}
</div>

<div>
        {{ form_label(form.comment, 'Commentaire : ') }}
        {{ form_errors(form.comment) }}
        {{ form_widget(form.comment, {'attr': {'class': 'asb-detail-comment-comment'}}) }}
</div>

<div>
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success'}}) }}
</div>

{{ form_end(form) }}

{#<ul class="record_actions">
    <li>
        <a href="{{ path('comment') }}">
            Back to the list
        </a>
    </li>
</ul>#}
{% endblock %}
