{# Video block #}
<div id="div-detail-block-3-contents-column-main-video-canal">
    {# Use local ressource #}
    {% if formation.video and formation.video.videoName is not null %}
    <video class="div-detail-block-3-contents-column-main-video-body" controls>
        <source src="{{ asset('videos/formation/'~formation.video.videoName) }}" type="">
        Your browser does not support the video tag.
    </video>
    {# Use outer ressource #}
    {% elseif formation.videoLink|length > 4 and formation.videoLink is not null %}
    <iframe class="div-detail-block-3-contents-column-main-video-body" 
            title="YouTube video player" class="youtube-player" type="text/html" 
            src="{{ formation.videoLink }}"
            frameborder="0" allowFullScreen></iframe>
    {% endif %}
</div>