{# Mot du directeur block #}
<div class="asb-container" id="div-detail-block-3-contents-column-main-comment-container">
    {# Title #}
    <div class="col-xs-12" id="div-detail-block-3-contents-column-main-comment-container-title">
        <h3 class="lato-bold asb-orange upper-case asb-left">
            livre d'or
        </h3>
    </div>
    <div class="col-xs-12 asb-padding-left-0 asb-padding-right-0">
        <div class="col-xs-6 asb-left">
            <h4 class="asb-orange" style="display: inline-block;">
                Note moyenne : 
            </h4>
        {# Rate Yo star #}
        {{ render(controller('ASBCommentBundle:Comment:AverageRate', { 'formation': formation })) }}   
        </div>
        {# Content list #}
        <div class="col-xs-12">
        {{ render(controller('ASBCommentBundle:Comment:Index', { 'formation': formation })) }}
            <div class="col-xs-11 col-sm-5 col-md-5 asb-right asb-padding-left-0 asb-padding-right-0">
                <hr class="div-detail-block-3-contents-column-main-semi-seperator"/>
            </div>
        </div>
        {# Content form #}
        <div class="col-xs-12">
            {{ render(controller('ASBCommentBundle:Comment:New', { 'formation': formation })) }}
        </div>
    </div>
</div>