{% extends "ASBViewBundle::layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@ASBViewBundle/Resources/assets/less/detail.less' 
        filter='lessphp'
        output='css/detail.css'
    %}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
{# Slick #}
<link href="{{ asset('bundles/asbview/css/slick.css') }}" type="text/css" rel="stylesheet" media="all" />
<link href="{{ asset('bundles/asbview/css/slick-theme.css') }}" type="text/css" rel="stylesheet" media="all" />
{# Rate Yo! #}
<link href="{{ asset('bundles/asbview/css/jquery.rateyo.min.css') }}" type="text/css" rel="stylesheet" media="all" />
{# Comment #}
{#<link href="{{ asset('bundles/asbview/css/fos_comment.css') }}" type="text/css" rel="stylesheet" media="all" />#}
    {% endstylesheets %}
{% endblock %}
{% block title %}AfricaSchoolBus - Détail d'une formations{% endblock %}
{% block body_asb %}
{# Get all request GET parameters #}
{% set queryParams = app.request.query.all %}
<div class="asb-container">
    {# blocks #}
    <div class="div-white asb-container col-xs-12" id="div-detail-block-1">
    {# Blocks #}
        {% include 'ASBViewBundle:Detail:index_block_1.html.twig' %}
    </div>

    {# blocks #}
    <div class="div-white asb-container col-xs-12 asb-center" id="">
        <h1>Formation n'existe pas ou n'est plus disponible!</h1>
    </div>

    
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{# include routing scripts -- fosjsrouting #}
<script src="{{ asset('bundles/asbview/js/routing.js') }}"></script>
<script src="{{ asset('bundles/asbview/js/view_detail.js') }}"></script>
{# Slick #}
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="{{ asset('bundles/asbview/js/slick.min.js') }}"></script>
<script src="{{ asset('bundles/asbview/js/view_detail_slick.js') }}"></script>
{# Rate Yo! #}
<script src="{{ asset('bundles/asbview/js/jquery.rateyo.min.js') }}"></script>
<script src="{{ asset('bundles/asbview/js/view_detail_rate.js') }}"></script>
{% endblock %}

