{% extends "ASBViewBundle::layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@ASBViewBundle/Resources/assets/less/formationsBy.less' 
        filter='lessphp'
        output='css/formationsBy.css'
    %}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
    {% endstylesheets %}
{% endblock %}
{% block title %}AfricaSchoolBus - Formations par pays{% endblock %}
{% block body_asb %}
    {% if countryCount and countryCount | length >= 1 %}
        {% for country, count in countryCount %}
    <div> 
        <a href="{{ path("africaschoolbus_view_list_srch_index")~"?pays="~country }}" > 
            {{ country | country }} <span class="badge badge-pays" code="{{ country }}">{{ count }}</span>
        </a> 
    </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{# include routing scripts -- fosjsrouting #}
<script src="{{ asset('bundles/asbview/js/routing.js') }}"></script>
<script src="{{ asset('bundles/asbview/js/formations_by_country.js') }}"></script>
{% endblock %}
