/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 juin 2015, 14:18:33
    Author     : HugoG
*/

@import "styles/bootstrap_less_variables.less";
@import "styles/font.less";
@import "styles/header.less";
@import "styles/body.less";
@import "styles/footer.less";

.asb-left {
    text-align: left;
    float: left;
}

.asb-right {
    text-align: right;
    float: right;
}

.asb-center {
    text-align: center;
    text-align: -webkit-center;
}

.asb-middle{    
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.slogan{
    font-family: no-move;
    text-transform: uppercase;
}

.sub-slogan{
    font-family: lato-light;
}

.div-transparent{
    background-color: transparent;
}

.div-white{
    background-color: white;
}

/* Keyword search */
.input-asb-keyword-srch{
    height: 100% !important;
    line-height: 200% !important;
    border-left-width: medium !important;
    border-top-width: medium !important;
    border-right-width: medium !important;
    border-bottom-width: medium !important;
    border-radius: 10px !important;
    border-color: #f7941e !important;
    outline: 0 none !important;
}

.input-asb-keyword-srch::-webkit-input-placeholder, .asb-keyword-input::-moz-placeholder, .asb-keyword-input:-ms-input-placeholder{
    color: #f7941e !important;
}

.input-asb-keyword-srch:focus{
    border-color: #f7941e !important;
    box-shadow: 0 0 3px 0 #FAC37F inset, 0 0 8px 0 #FAC37F !important;
    outline: 0 none !important;
}

.btn-asb-keyword-srch{
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-bottom: 10px !important;
    font-family: no-move !important;
    background-image: url("/bundles/asbview/images/bg_button_brown.png");
    background-repeat: inherit !important;
    background-size: contain;
    color: #eee !important;
    font-size: x-large !important;
}

.btn-asb-keyword-srch:hover{
    color: #fff !important;
}

/* Criterias search */
/*.input-asb-criterias-srch{
    -webkit-appearance: none;  REMOVES DEFAULT CHROME & SAFARI STYLE
    -moz-appearance: none;  REMOVES DEFAULT FIREFOX STYLE
    border: 0 !important;  REMOVES BORDER

    background-color: #FFF;
    color: #555;
    -webkit-border-radius: 5px;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px 5px 5px 15px;
    width: 100%;
    cursor: pointer;
}*/

.div-input-asb-criterias-srch {
    width:100%;
    height: 100%;
    position: relative;
    z-index: 0;
    overflow:hidden;
    margin-bottom: 15px;
}

.div-input-asb-criterias-srch select{
    padding:5px 5px 5px 15px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 @asb-khaki, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 @asb-khaki, 0 -1px #fff inset;
    box-shadow: 0 3px 0 @asb-khaki, 0 -1px #fff inset;
    background: #FFF;
    color:#555;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

.div-input-asb-criterias-srch .dropdown option {
    width:10px
}

.div-input-asb-criterias-srch:before {
    content:'';
    right:4px; 
    top:0px;
    width:37px; 
    height:34px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;

    /*    background: #FFF url("/bundles/asbview/images/bg_criterias_srch_dropdown_box.png") no-repeat calc(100% ~"-" 0px) center;
        background-size: auto; TO ACCOUNT FOR @2X IMAGE FOR RETINA */
}

.div-input-asb-criterias-srch:after {
        content:'';
/*        font:11px "Consolas", monospace;
        color:#aaa;
        -webkit-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        transform:rotate(90deg);*/
    right:4px; 
    top:0px;
    width: 37px;
    height: 34px;
    padding:0 0 2px;
    /*border-bottom:1px solid #ddd;*/
    position:absolute;
    pointer-events:none;

    background: #FFF url("/bundles/asbview/images/bg_criterias_srch_dropdown_box.png") no-repeat calc(100% ~"-" 0px) center;
    background-size: auto; /*TO ACCOUNT FOR @2X IMAGE FOR RETINA */
}

.input-asb-criterias-srch:focus{
    border-color: transparent !important;
    box-shadow: 0 0 3px 0 @asb-khaki inset, 0 0 8px 0 @asb-khaki !important;
    outline: 0 none !important;
}

.btn-asb-criterias-srch{
    margin-top: 20px;
    padding-left: 40px !important;
    padding-right: 40px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    font-family: no-move !important;
    background-image: url("/bundles/asbview/images/bg_button_brown.png");
    background-repeat: inherit !important;
    background-size: contain;
    color: #eee !important;
    font-size: x-large !important;
}

.btn-asb-criterias-srch:hover{
    color: #fff !important;
}

.btn-asb-light-text{
    margin-top: 10px;
    padding-left: auto !important;
    padding-right: auto !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    font-family: lato-light !important;
    background-image: url("/bundles/asbview/images/bg_button_brown.png");
    background-repeat: inherit !important;
    background-size: contain;
    color: #eee !important;
    font-size: small !important;
    width: 100%;
}

.btn-asb-light-text:hover{
    color: #fff !important;
}

//////////////////
// colors for brand icons
//////////////////
.asb-brand-facebook{
    color: #3b5998;
}

.asb-brand-google-plus{
    color: #e02f2f;
}

.asb-brand-linkedin{
    color: #007bb5;
}

.asb-brand-twitter{
    color: #55acee;
}