/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 sept. 2015, 10:49:39
    Author     : HugoG
*/

@import "global.less";

.newsletter-container{
    background-color: #FFF;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: @asb-chocolate;
    display: block;
    width: 100%;
    
}