
{# =============== #}
{# total items count #}
{# =============== #}
<div class="count">
    Formations trouvés: {{ pagination.getTotalItemCount }}
</div>
<table>
    <tr>
        {# sorting of properties based on query components #}
        <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
        <th{% if pagination.isSorted('a.nom') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nom', 'a.nom') }}</th>
    </tr>

{# table body #}
{% for article in pagination %}
    <tr {% if loop.index is odd %}class="color"{% endif %}>
        <td>{{ article.id }}</td>
        <td>{{ article.nom }}</td>
    </tr>
{% endfor %}
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>