<div class="col-xs-12 col-sm-11 col-sm-offset-1 col-md-11 col-md-offset-1 asb-center asb-container" id="div-list-block-3-contents">
    {# block srch #}
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 asb-container" id="div-list-block-3-contents-frm-srch">
        {% include 'ASBViewBundle:List:index_block_3_srch_form.html.twig' %}
    </div>
    {# block pubs #}
    {% if publicites %}
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 asb-container" id="div-list-block-3-contents-pubs-top">
        {% include 'ASBViewBundle:List:index_block_3_pubs_top.html.twig' %}
    </div>
    {% endif %}
    {# block results #}
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 asb-container" id="div-list-block-3-contents-results">
        {% include 'ASBViewBundle:List:index_block_3_results.html.twig' %}
    </div>
    {# display navigation KNP #}
    <div class="col-xs-6 navigation asb-left asb-padding-left-0">
    {{ knp_pagination_render(pagination) }}
    </div>
    <div class="col-lg-1"></div>     {# Gap, do not remove! #}
</div>