{% extends "ASBViewBundle::layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@ASBViewBundle/Resources/assets/less/list.less' 
        filter='lessphp'
        output='css/list.css'
    %}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
    {% endstylesheets %}
{% endblock %}
{% block title %}AfricaSchoolBus - Formations trouvées{% endblock %}
{% block body_asb %}
{# Get all request GET parameters #}
{% set queryParams = app.request.query.all %}
<div class="asb-container">
    {# blocks #}
    <div class="div-white asb-container col-xs-12" id="div-list-block-1">
    {# Blocks #}
        {% include 'ASBViewBundle:List:index_block_1.html.twig' %}
    </div>

    {# blocks #}
    <div class="div-transparent asb-container col-xs-12" id="div-list-block-2">
    {# Blocks #}
        {% include 'ASBViewBundle:List:index_block_2.html.twig' %}
    </div>

    {# blocks #}
    <div class="div-white asb-container container col-xs-12" id="div-list-block-3">
    {# Blocks #}
        {% include 'ASBViewBundle:List:index_block_3.html.twig' %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{# include routing scripts -- fosjsrouting #}
<script src="{{ asset('bundles/asbview/js/routing.js') }}"></script>
<script src="{{ asset('bundles/asbview/js/view_list.js') }}"></script>
{% endblock %}
