{# pub-top #}
{% set pub = null %}
{% for publicite in publicites %}
{% if loop.first %}
{% set pub = publicite %}
{% endif %}
{% endfor %}
<a href="{{ pub.lien }}">
    <div class="col-xs-12 asb-center div-list-block-3-contents-pubs-top-cell-container">
        <table>
            <tr>
                <td>
                    <a href="{{ pub.lien }}" target="_blank">
                        <img class="col-xs-12" src="{{ asset('images/publicite/logo/'~pub.logoName)}}" />
                    </a>
                </td>
                <td>
                    <a href="{{ pub.lien }}" target="_blank">
                        <img class="col-xs-12" src="{{ asset('images/publicite/image/'~pub.imageName)}}" />
                    </a>
                </td>
            </tr>
        </table>
    </div>
</a>