<div class="col-xs-11 col-xs-offset-1 asb-center" id="div-list-block-2-contents">
    {# magnifying glass #}
    {#<div class="asb-center col-sm-2" id="div-list-block-2-contents-magnify">
        <img id="div-list-block-2-contents-icon-magnifying" src="/bundles/asbview/images/icon_magnifying_glass.png">
    </div>#}
    {# Headers #}
    <div class="asb-container col-sm-12 col-sm-offset-4 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2" id="div-list-block-2-contents-header">
        <table class="table-responsive asb-table-responsive">
            <tr class="col-sm-12">
                <td class="col-xs-12 col-sm-7 col-md-8">
                    <h1 class="col-sm-12 asb-orange lato-black upper-case asb-left asb-margin-bottom-0" id="div-list-contents-header-1">
                        résultats de la recherche
                    </h1>
                </td>
                <td class="hidden-xs col-sm-5 col-md-4" valigne="middle">
                    <img class="col-sm-12 asb-width-100-pct" id="div-list-block-2-resultats_de_la_recherche_crosshair" src="/bundles/asbview/images/resultats_de_la_recherche_crosshair.png">
                </td>
            </tr>
            <tr class="col-sm-12">
                <td class="col-sm-12">
                    <h4 class="col-sm-12 asb-white lato-bold upper-case asb-left" id="div-list-contents-header-2">
                        {% set formationFound = 'formation trouvée' %} 
                        {% if pagination.getTotalItemCount > 1 %} 
                        {% set formationFound = 'formations trouvées' %} 
                        {% endif %} 
                        {{ pagination.getTotalItemCount }}&nbsp{{ formationFound }}
                    </h4>
                </td>
            </tr>
        </table>
    </div>
</div>