{# Magnifying glass #}
<div class="" id="div-list-block-3-contents-frm-srch-magnifying">
    <img id="div-list-block-3-contents-frm-srch-magnifying-icon" src="/bundles/asbview/images/icon_magnifying_glass.png">                        
</div>
{# Form contents #}
<div class="asb-container" id="div-list-block-3-contents-frm-srch-contents">
    {# Form title #}
    <div class="col-xs-12" id="div-list-block-3-contents-frm-srch-contents-title">
        <h4 class="asb-orange upper-case asb-left">affiner la recherche</h4>
    </div>
    {# Form fields #}
    <div class="col-xs-12 div-list-block-3-contents-frm-srch-contents-fields" id="">
        {# Search form #}
        {{ form_start(criteriasSrchForm, {'attr':{'class':'asb-container'}}) }}
        {{ form_errors(criteriasSrchForm) }}
        <div class="col-xs-12 div-list-block-3-contents-frm-srch-contents-field-label" id="">
            <h5 class="asb-dark-desert-2 lato-bolditalic asb-left lato-bolditalic">Lieu</h5>
        </div>
        <div class="div-input-asb-criterias-srch">
            {% set requestGetPays = null %}
            {% if "pays" in queryParams|keys %}
            {% set requestGetPays = queryParams["pays"]|trim %}
            {% endif %}
            {% set text_select_country = 'srch_form.select.country' %}
            
            {{ form_errors(criteriasSrchForm.pays) }}
            {{ form_widget(criteriasSrchForm.pays, {
                        'attr':{
                                'class':'form-control input-asb-criterias-srch', 
                                'placeholder': text_select_country
                                },
                        'value' : requestGetPays
                        })                        
            }}
        </div>
        <div class="col-xs-12 div-list-block-3-contents-frm-srch-contents-field-label" id="">
            <h5 class="asb-dark-desert-2 lato-bolditalic asb-left">Spécialisation</h5>
        </div>
        <div class="div-input-asb-criterias-srch">
            {% set requestGetDomaine = null %}
            {% if "domaine" in queryParams|keys %}
            {% set requestGetDomaine = queryParams["domaine"]|trim %}
            {% endif %}            
            {% set text_select_domain = 'srch_form.select.domain' %}
            
            {{ form_errors(criteriasSrchForm.domaine) }}
            {{ form_widget(criteriasSrchForm.domaine, {
                        'attr':{
                                'class':'form-control input-asb-criterias-srch', 
                                'placeholder': text_select_domain
                                },
                        'value' : requestGetDomaine
                            }) 
            }}
        </div>
        <div class="col-xs-12 div-list-block-3-contents-frm-srch-contents-field-label" id="">
            <h5 class="asb-dark-desert-2 lato-bolditalic asb-left">Diplôme</h5>
        </div>
        <div class="div-input-asb-criterias-srch">
            {% set requestGetDiplome = null %}
            {% if "diplome" in queryParams|keys %}
            {% set requestGetDiplome = queryParams["diplome"]|trim %}
            {% endif %}
            {% set text_select_degree = 'srch_form.select.domain' %}
            
            {{ form_errors(criteriasSrchForm.diplome) }}
            {{ form_widget(criteriasSrchForm.diplome, {
                        'attr':{
                                'class':'form-control input-asb-criterias-srch', 
                                'placeholder': text_select_degree
                                },
                        'value' : requestGetDiplome
                            }) 
            }}
        </div>
        <div class="col-xs-12 div-list-block-3-contents-frm-srch-contents-field-label" id="">
            <h5 class="asb-dark-desert-2 lato-bolditalic asb-left">Mode d'enseignement</h5>
        </div>
        <div class="div-input-asb-criterias-srch">
            {% set requestGetMode = null %}
            {% if "mode" in queryParams|keys %}
            {% set requestGetMode = queryParams["mode"]|trim %}
            {% endif %}
            {% set text_select_mode = 'srch_form.select.domain' %}
            
            {{ form_errors(criteriasSrchForm.mode) }}
            {{ form_widget(criteriasSrchForm.mode, {
                        'attr':{
                                'class':'form-control input-asb-criterias-srch', 
                                'placeholder': text_select_mode
                                },
                        'value' : requestGetMode
                            }) 
            }}
        </div>
        {# Filter button #}
        {{ form_widget(criteriasSrchForm.search, {
                'attr':{
                    'class':'btn btn-default btn-lg btn-asb-criterias-srch'
                }
                    }) }}
        {{ form_end(criteriasSrchForm) }}
    </div>
</div>