{# Loop results #}
{% for article in pagination %}
<div class="col-xs-10 col-sm-10 col-md-5 col-lg-3 div-list-block-3-contents-results-cell-container">
    <div class="col-xs-12 div-list-block-3-contents-results-cell-header">
        <h5 class="asb-white lato-bold asb-left upper-case">
            {% set nomFormation = article.nom %}
            {{ nomFormation|length > 50 ? nomFormation|slice(0, 50) ~ '...' : nomFormation }}
        </h5>
    </div>
    <div class="col-xs-12 div-list-block-3-contents-results-cell-body">
        {# Cell element #}
        <div class="asb-container div-list-block-3-contents-results-cell-body-element">
            <div class="col-xs-1">
                <img class="" src="{{ asset('bundles/asbview/images/icon-map-marker-cell-list.png') }}"/>
            </div>
            <div class="col-xs-10">
                <p class="asb-left asb-margin-bottom-0">
                    <span class="lato-black">Lieu : </span>
                    <span class="lato-light">
                    {% set lieuFormation = article.contactAdresse %}
{#                    {% set lieuFormation = "article contact Adresse ljni qegbeqezes qeogmnio qegeqjn qzegzmbi qegemogno ezg" %}#}
                    {{ lieuFormation|length > 45 ? lieuFormation|slice(0, 45) ~ '...' : lieuFormation }}
                    </span>
                </p>
                <a class="asb-right upper-case asb-orange lato-bold">
                    localiser
                </a>
            </div>
        </div>
        {# Cell element #}
        <div class="asb-container div-list-block-3-contents-results-cell-body-element">
            <div class="col-xs-1">
                <img class="" src="{{ asset('bundles/asbview/images/icon-cost-cell-list.png') }}"/>
            </div>
            <div class="col-xs-10">
                <p class="asb-left asb-margin-bottom-0">
                    <span class="lato-black">Coût : </span>
                    <span class="lato-light">
                    {% set coutFormation = article.cout %}
                    {{ coutFormation|length > 20 ? coutFormation|slice(0, 20) ~ '...' : coutFormation }}
                    </span>
                </p>
            </div>
        </div>
        {# Cell element #}
        <div class="asb-container div-list-block-3-contents-results-cell-body-element">
            <div class="col-xs-1">
                <img class="" src="{{ asset('bundles/asbview/images/icon-comment-cell-list.png') }}"/>
            </div>
            <div class="col-xs-10">
                <p class="asb-left asb-margin-bottom-0">
                    <span class="lato-black">Avis : </span>
                    <span class="span-list-block-3-contents-results-cell-body-element-star">
{#                    {% set lieuFormation = article.contactAdresse %}#}
                        {% set rank = 0..3 %}
                        {% for star in rank %}
                        <i class="fa fa-star"></i>
                        {% endfor %}
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 div-list-block-3-contents-results-cell-footer">
        <div class="asb-padding-right-0">
            <a class="asb-white lato-bold" href="{{ path('africaschoolbus_view_detail_index', {'formation_title': article.nom, 'formation_id': article.id }) }}">
                <h5>
                    Voir la fiche détaillée&nbsp&nbsp
                    <img class="div-list-block-3-contents-results-cell-footer-icon-plus-circle" src="{{ asset('bundles/asbview/images/icon-plus-circle-cell-list.png') }}"/>
                </h5>
            </a>
        </div>
    </div>
</div>
<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>    {# Gap, do not remove! #}
{% endfor %}
{# display navigation KNP #}
<div class="col-xs-6 navigation asb-left asb-padding-left-0">
    {{ knp_pagination_render(pagination) }}
</div>