/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 juin 2015, 11:45:07
    Author     : HugoG
*/

@import "bootstrap_less_variables.less";

.footer{
    width: 100%;
    min-height: 300px;
    position: relative;
    bottom: 0px;
    background-color: transparent;
}

#footer-logo{   
    width: 100%;
    height:101px;
    position: absolute;
    bottom: 44px; 
    z-index: 999;
    background-image: url("/bundles/asbview/images/logo_africaschoolbus_footer.png");
    background-position: center 12px;
    background-repeat: no-repeat;
}

.footer-band{
    width: 100%;
    height: 44px;
    position: absolute;
    bottom: 0px;
    z-index: 9999;
    background-color: #ede3dc;
}

.footer-contents{
    margin-top: 50px;
    margin-bottom: 150px;
}

.cell-footer-contents{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 45px;
    width: 19%;
    display: block;
}

.header-cell-footer-contents{
    margin-bottom: 15px;
}

.asb-footer-links-list{
    margin-top: 15px;
    font-size: smaller;
}

.asb-footer-links-link{
    margin: 3px auto;
}

/* Resolutions */
@media only screen and (min-width: @screen-lg-min){

}

@media only screen and (min-width: @screen-md-min) and (max-width: @screen-md-max){
}

@media only screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
    .cell-footer-contents{
        width: 31%;
    }
}

@media only screen and (min-width: @screen-xs-min) and (max-width: @screen-xs-max){
    .cell-footer-contents{
        width: 47%;
    }
}

@media only screen and (max-width: @screen-xs-min){
    .cell-footer-contents{
        width: 98%;
    }
}