{% extends "ASBViewBundle::layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@ASBViewBundle/Resources/assets/less/contact.less' 
        filter='lessphp'
        output='css/contact.css'
    %}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
    {% endstylesheets %}
{% endblock %}
{% block title %}AfricaSchoolBus - Contact par email{% endblock %}
{% block body_asb %}
<div class="asb-container contact-container" id="contact-email-container">
    <div class="col-xs-10 col-xs-offset-1">
        <h3>Formulaire de contact : </h3>
    </div>
    <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 asb-container">

        {{ form_start(contactForm) }}
        {{ form_javascript(contactForm) }}
        {{ form_errors(contactForm) }}

        <div class="form-group col-md-12 col-sm-12">
            {{ form_label(contactForm.nom, 'contact_form.title.last_name') }}
            {{ form_errors(contactForm.nom) }}
            {{ form_widget(contactForm.nom, {'id': 'formContactNom', 'attr': {'class': 'form-control', 'placeholder':'contact_form.title.last_name'}}) }}
        </div>
        <div class="col-md-8"></div>

        <div class="form-group col-md-12 col-sm-12">
            {{ form_label(contactForm.prenom, 'contact_form.title.first_name') }}
            {{ form_errors(contactForm.prenom) }}
            {{ form_widget(contactForm.prenom, {'id': 'formContactPreom', 'attr': {'class': 'form-control', 'placeholder':'contact_form.title.first_name'}}) }}
        </div>

        <div class="form-group col-md-12 col-sm-12">
            {{ form_label(contactForm.email, 'Adresse email') }}
            {{ form_errors(contactForm.email) }}
            {{ form_widget(contactForm.email, {'id': 'formContactEmail', 'attr': {'class': 'form-control', 'placeholder':'contact_form.title.email_address'}}) }}
        </div>

        <div class="form-group col-md-12 col-sm-12">
            {{ form_label(contactForm.object, 'contact_form.title.object') }}
            {{ form_errors(contactForm.object) }}
            {{ form_widget(contactForm.object, {'id': 'formContactObject', 'attr': {'class': 'form-control', 'placeholder':'contact_form.title.object'}}) }}
        </div>

        <div class="form-group col-md-12 col-sm-12">
            {{ form_label(contactForm.message, 'contact_form.title.message') }}
            {{ form_errors(contactForm.message) }}
            {{ form_widget(contactForm.message, {'id': 'formContactMessage', 'attr': {'class': 'form-control', 'placeholder':'Votre message', 'rows': '6'}}) }}
        </div>
        <div class="div-captcha form-group col-md-12 col-sm-12">            
            <label id="label-asb_contact_email_captcha" for="location_lef_contact_captcha">Captcha</label>
            <div class="g-recaptcha" id="asb_contact_email_captcha" data-sitekey="6Lc8iwcTAAAAAIYGG3TbpBWMxjxWc6qM2iWNLswx"></div>
        </div>
        <div class="col-md-12 col-sm-12" id="asb_contact_email_returned_message"></div>
        <div id="contact-email-form-bottom">
            <div class="form-group col-md-9 col-sm-9"></div>
            <div class="form-group col-md-2 col-sm-2">
                        {{ form_row(contactForm.send, { 'id':'formContactBtnEnvoyer', 'label': 'Envoyer', 'attr':{ 'class': 'btn btn-success'}}) }}
            </div>
        </div>
            {{ form_end(contactForm) }}
    </div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{# include routing scripts -- fosjsrouting #}
<script src="{{ asset('bundles/asbview/js/routing.js') }}"></script>
<script src="{{ asset('bundles/asbview/js/view_contact.js') }}"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}