{% extends "ASBViewBundle::layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@ASBViewBundle/Resources/assets/less/contact.less' 
        filter='lessphp'
        output='css/contact.css'
    %}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
    {% endstylesheets %}
{% endblock %}
{% block title %}AfricaSchoolBus - Contact{% endblock %}
{% block body_asb %}
<div class="asb-container contact-container" id="contact-main-container">
    <div class="col-xs-8 col-xs-offset-2 col-md-10 col-md-offset-1 asb-container">
        <h3>Contactz-nou par Email : </h3>
        <a href="{{ path('africaschoolbus_view_contact_email')}}"><strong>Formulaire de contact</strong></a>
    </div>
</div>
{% endblock %}
