{#{% extends "ASBViewBundle::layout.html.twig" %}#}

{% block body -%}
{# Rate Yo star #}
<div id="comment-average-rate" data="{% if averageRate %}{{ averageRate }}{% else %}0{% endif %}" width="25"  style="display: inline-block;"></div>
{% endblock %}
