{#{% extends "ASBViewBundle::layout.html.twig" %}#}

{% block body -%}

<div class="div-detail-block-3-contents-column-main-comment-container-contents">
        {% for entity in entities %}
    <div class="asb-container">
{#                <td><a href="{{ path('comment_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
        <div class="asb-container">
            <h4 class="lato-bolditalic asb-orange asb-left capitalize">
                    {% if entity.user is defined  and entity.user != null %}
                    {{ entity.user.username }}
                    {% else %}
                anonyme
                    {% endif %}
            </h4>
        </div>
        <div class="asb-container">
            <p class="lato-lightitalic asb-left">{{ entity.comment }}</p>
        </div>
        <div class="asb-container asb-right">
            {# Rate Yo star #}
            <div class="comment-user-rate" data="{{ entity.rate }}" width="20"></div>
        </div>
                {#<td>{% if entity.dateTime %}{{ entity.dateTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.active }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('comment_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('comment_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>#}
    </div>
        {% endfor %}
</div>

{#<ul>
    <li>
        <a href="{{ path('comment_new') }}">
            Create a new entry
        </a>
    </li>
</ul>#}
    {% endblock %}
